[2014-04-24 06:55] janschaefer opened #1 "Step methods do not work with primitive arrays as parameters"
Given a step method that takes a primitive array as parameter
When the step method is executed in a Scenario
Then an exception is thrown with error message "[I cannot be cast to [Ljava.lang.Object"

[2014-04-27 13:37] #1 closed, assigned to janschaefer

[2014-04-28 13:09] aaschmid opened #2 "Tests failed on 653d231 using locale ```de_DE.UTF-8```"
Excerpt from `jgiven-core/target/surefire-reports/TEST-com.tngtech.jgiven.report.model.ReportModelBuilderTest.xml`

[code]

[2014-04-28 15:19] #2 closed, assigned to janschaefer

[2014-04-28 19:18] janschaefer opened #3 "AfterStage methods are not executed for the last stage"
Given a scenario where the last stage has a method annotated with AfterStage
when the scenario is executed
then the AfterStage method of the last stage is not executed as expected.

[2014-04-30 19:15] #3 closed, assigned to janschaefer

[2014-05-24 00:06] Airblader opened #4 "NotImplementedYet: negate result instead of ignoring test"
Consider the following scenarios:

[code]

Would this maybe be a good idea? Currently, annotating tests with @NotImplementedYet is a bit of an annoyance because a developer needs to remove the annotation to run the test and see if it passes.
The new behavior would also enforce the TDD idea, that the test _must_ fail before the implementation is done (as a "passing" test with annotation would actua

[2014-06-03 12:36] Airblader opened #5 "Name of stage is discarded when first stage method is hidden"
Given a `WhenExecuteApplication` stage with a hidden method

[code]

and a test with the first call to the `When` stage being the hidden method

[code]

when the test is executed

then the output discards the "when" in the output

---

The correct output instead should be

[2014-06-04 06:22] #5 closed, assigned to janschaefer

[2014-06-04 08:40] #4 closed, assigned to janschaefer

[2014-06-13 07:40] Airblader opened #6 "Typo in readme"
The command to run the HTML generator in the readme is:

[code]

But should be (`todir` instead of `toDir`)

[code]

[2014-06-22 14:14] #6 closed, assigned to nobody

[2014-06-28 11:53] janschaefer opened #8 "Show Statistics in the generated HTML Report"
In order to get a better overview over my Scenarios,
As a developer,
I want to have a generated Statistics page in the HTML report of JGiven

[2014-06-29 09:46] janschaefer opened #9 "HTML-Escape parameters in HTML report"
Given a Scenario with HTML tags in step or method parameters
when the HTML report is generated
then the parameters are escaped in the resulting report

[2014-06-29 11:01] #9 closed, assigned to janschaefer

[2014-06-29 11:37] janschaefer opened #10 "Arguments in Plain Text Reports are replaced by parameter placeholders"
Given a scenario with parameters 'param1'
and the scenario has 2 cases
and case 1 has argument 'baz1'
and case 2 has argument 'baz2'
and all cases have a step 'foo' with argument 'bar'
when creating the text report
then the report contains 'foo <param1>'
but it should contain 'foo 'bar''

[2014-06-29 11:43] #10 closed, assigned to janschaefer

[2014-06-29 11:47] janschaefer opened #11 "Empty argument strings are not visible in the HTML report"
### Current Behavior
[code]
### Expected Behavior
[code]

[2014-08-16 18:51] janschaefer opened #12 "JGiven is not working with JUnit DataProvider v1.9.0"
When trying to use JGiven together with version 1.9.0 of the JUnit DataProvider, the following exception is thrown:

[code]

[2014-08-17 07:17] #12 closed, assigned to janschaefer

[2014-08-19 18:55] janschaefer opened #13 "Measure duration of each step and include in reports"

[2014-08-19 19:51] janschaefer opened #14 "Highlight differences in cases that cannot be shown as data tables"
When two scenario cases have a structural difference, so that a data table cannot be created, highlight the difference so that the reader can faster grasp the difference.

Example:

[code]

[2014-08-19 19:56] janschaefer opened #15 "Create data tables for arbitrary arguments"
Currently JGiven creates data tables if parameters of cases are different. However, if arguments differ that are no parameters, data tables are not generated.
Example:

[code]

As the argument of foo is not a parameter, no data table is generated.

Desired output:

[code]

The name of the variable should be derived from the variable name of the called method

[2014-09-02 06:16] janschaefer opened #16 "@Description does not work on test names"
The following code does not work as expected as the `@Description` annotation is ignored:

[code]

[2014-09-06 12:07] janschaefer opened #17 "Nested Steps"
The idea of steps is the following. Often you want to hide certain details of a step, because they are not directly important for a certain scenario. For example:
[code]
will fill out the registration form with valid values, but the concrete values are not shown. If a developer is interested in the concrete values she can look into the implementation of the step. However, in the report these detai

[2014-09-06 15:44] janschaefer opened #18 "Collapse scenarios in HTML report"

[2014-09-06 15:50] #18 closed, assigned to nobody

[2014-09-07 08:36] #16 closed, assigned to janschaefer

[2014-09-07 08:38] janschaefer opened #19 "Allow the escaping of $ in @Description tags"

[2014-09-07 14:09] #13 closed, assigned to nobody

[2014-09-07 14:28] janschaefer opened #20 "Allow @Description tags on test classes"
The content could then be included in the generated report.

[2014-09-07 16:00] janschaefer opened #21 "Tests with the Parameterized Runner do not created correct cases"
When using the JUnit Parameterized Runner, the different cases appear in multiple scenarios with the same name instead in a single scenario.

[2014-09-07 19:50] #21 closed, assigned to nobody

[2014-09-07 20:52] janschaefer opened #22 "Test against different JUnit versions"

[2014-09-07 20:55] #20 closed, assigned to nobody

[2014-09-10 08:35] janschaefer opened #23 "Printed reports should not have collapsed scenarios"
In a printed report the scenarios should not be collapsed (new feature in v0.4.0)

[2014-09-10 11:30] janschaefer opened #24 "Elapsed time in HTML report should be shown in a convenient unit"
Currently the elapsed time is shown in milliseconds, with large numbers, this is hard to read for humans. Thus the unit should be adapted to the value.

[2014-09-11 07:07] janschaefer opened #25 "JGiven creates null.json files for test classes where all tests are ignored"
[code]

[2014-09-11 08:43] #25 closed, assigned to nobody

[2014-09-11 19:38] #23 closed, assigned to nobody

[2014-09-11 20:19] #24 closed, assigned to nobody

[2014-09-12 16:46] #22 closed, assigned to nobody

[2014-09-18 09:33] #15 closed, assigned to nobody

[2014-09-21 14:27] #14 closed, assigned to nobody

[2014-09-21 14:32] janschaefer opened #26 "Indicate number of cases in the scenario headline"
As scenarios are now initially collapsed it is difficult to see whether a scenario consists of multiple cases or not. To solve this one could indicate the number of cases in the headline of the scenario.

[2014-09-21 15:00] #26 closed, assigned to nobody

[2014-09-22 11:13] janschaefer opened #27 "Meta Tags"
As a developer,
I want to be able to organize my tags hierarchically,
so that I get a better overview over my tags.

Idea:
Allow tags to be tagged by meta-tags. These meta-tags should also appear in the report and should allow for a hierarchical structuring of the tags in the report.

Example:
In order to hierarchically structure features under the meta-tag `@Feature`. We define an annotation `@Fe

[2014-09-22 11:21] janschaefer opened #28 "Structure Tags and Classes in HTML reports"
Currently test classes and tags in the navigation bar at the left are not further structured. When the number of classes and tags get large, there is no overview anymore.
Test-Classes could be structured by their package name, this could even be hierarchical. Tags should at least be structured by their type.

[2014-09-25 08:50] #28 closed, assigned to nobody

[2014-09-25 12:01] #8 closed, assigned to nobody

[2014-09-25 12:03] janschaefer opened #29 "HTML Report: Create page with an overview of all failed scenarios"

[2014-09-25 12:26] #29 closed, assigned to nobody

[2014-09-25 12:35] janschaefer opened #30 "Support extended Descriptions"
It would be nice if one could add an extended description to a step method. This could be shown in the report as a tooltip, for example. The extended description could provide more detailed information about a step.

Example:

[code]

For sure it would be nice if instead the JavaDoc of the method could be used, but that would require a separate parsing of the Java source, so this would be rather d

[2014-09-26 05:24] janschaefer opened #31 "HTML Report: IE 11 does not show font icons"

[2014-09-28 09:58] janschaefer opened #32 "Parameters appear twice in the data table when used twice"
Take the following example:

[code]

then the resulting data table contains the param twice, where it should only contain it once.

[2014-09-28 11:20] #32 closed, assigned to janschaefer

[2014-09-29 13:04] #30 closed, assigned to nobody

[2014-10-03 10:03] janschaefer opened #33 "HTML Report: Failed page does not contain scenarios that have some successful cases"
Given the following scenario:

[code]

In practice a scenario could fail for other reasons, for example JUnit rules.

In the HTML report the scenario is marked as success, but still a failure message is shown. Expected behavior: the overall scenario is marked as failed.

The scenario also does not appear in the 'failed.html' page

[2014-10-05 08:21] janschaefer opened #34 "Text Report: Add status column to data tables"

[2014-10-05 08:40] janschaefer opened #35 "Core: Allow @ExtendedDescription annotation on test methods"
With an `@ExtendedDescription` tag on test methods it would be possible to explain in more detail the rational behind a scenario.

[2014-10-05 08:43] janschaefer opened #36 "Refactor: Introduce @Title tag, deprecate @Description tag"
The `@Description` tag on test methods and step methods is somehow misnamed. In fact it is not a description but the title. So instead a `@Title` annotation should be introduced and the `@Description` tag should be deprecated. In a next step the `@Description` annotation should get the meaning of the `@ExtendedDescription` annotation.

[2014-10-05 10:47] #33 closed, assigned to nobody

[2014-10-05 11:39] #34 closed, assigned to nobody

[2014-10-05 13:35] janschaefer opened #37 "HTML Report: provide expand all and collapse all buttons"

[2014-10-05 19:55] #37 closed, assigned to nobody

[2014-10-26 20:34] machielg opened #38 "Remove log4j usage"
In com.tngtech.jgiven.impl.util.ReflectionUtil there is a reference to log4j. This seems to be inconsistent with the usage of slf4j in the rest of the project. This means I can't use JGiven in a project that uses a different slf4j back-end.

Switching to the slf4j Logger seems to be trivial.

[2014-10-27 06:36] janschaefer opened #39 "Switch from Maven to Gradle"
Replace the given Maven build system with Gradle

[2014-10-27 06:48] #38 closed, assigned to aaschmid

[2014-11-05 08:20] janschaefer opened #40 "Text Report: space is missing when no intro word is present"
Given the following JGiven test:

[code]

then the text report prints:

[code]

instead of

[code]

[2014-11-05 08:25] #40 closed, assigned to janschaefer

[2014-11-15 18:47] janschaefer opened #42 "Build: Code coverage is broken since switch to Gradle"
Since the switch to Gradle the code coverage is at 95% where it was at 89% before, this seems to be wrong.

[2014-11-19 05:58] #39 closed, assigned to nobody

[2014-12-04 10:56] janschaefer opened #43 "Exception in @AfterStage method is not probably propagated"
When an exception is thrown in an `@AfterStage` annotated method, that exception is not logged.

[2014-12-04 19:21] janschaefer opened #44 "HTML5 Report: Printing only shows first page"

[2014-12-04 20:48] #44 closed, assigned to nobody

[2014-12-06 09:14] janschaefer opened #45 "Singleton Stages"
It would sometimes be useful to have stages that live longer than a single scenario. For example, to do expensive setups that can be reused between tests. In JUnit this is typically done by using `@BeforeClass` annotations. However, that requires to have static fields which has several drawbacks.

Idea: Introduce a new kind of stage, namely singleton stages. Singleton stages can live longer than a

[2014-12-09 08:24] janschaefer opened #46 "@AfterScenario method is not executed in case of an exception"
Given a scenario
  and a stage has an AfterScenario method
When a step throws an exception
 Then the AfterScenario method is not called, but should be called

[2014-12-09 16:34] #46 closed, assigned to nobody

[2014-12-10 19:42] janschaefer opened #47 "Tag URL is not correctly encoded"
Given a scenario
 and the scenario has a tag with value `#42`
 and the HTML5 report has been generated
when trying to click on the corresponding tag
then the tag page is not opened

[2014-12-10 20:11] #47 closed, assigned to nobody

[2014-12-13 08:54] #43 closed, assigned to nobody

[2014-12-13 09:22] janschaefer opened #48 "Simplify static html report"
Now that the new HTML5 Report exists, it is not necessary anymore to have a sophisticated static html report. Instead the static html report should be very basic again. This means:

* Remove search functionality
* Remove collapsing of scenarios
* Remove dependency to font awesome
* Remove the navigation panel on the left, instead just provide a breadcrumbs line

[2014-12-13 12:53] #42 closed, assigned to nobody

[2014-12-20 09:10] janschaefer opened #49 "Exception in JUnit @After method hides exceptions thrown in the scenario"
Given a failing scenario defined in a JUnit test method
  and a @After-annotated method that throws an exception
when executing the test
  then only the exception of the @After-annotated method is thrown
   and the exception of the failing scenario is not visible

[2014-12-20 10:04] #49 closed, assigned to nobody

[2014-12-20 10:12] janschaefer opened #50 "Allow for commenting of steps"
It is already possible to provide an extended description to steps by using the `@ExtendedDescription` annotation. However, sometimes you want to comment a certain step-invocation and not all invocations of that step. This comment should also appear in the report.

Example:
[code]

[2014-12-22 16:41] janschaefer opened #51 "HTML5 Report: Firefox failes with "script too large" error when having more than 800 Scenarios"
Given more than 800 JGiven scenarios
 when trying to open the resulting HTML5 report
 then Firefox throws an "script too large" error
  and does not render the report

[2014-12-22 21:11] #51 closed, assigned to nobody

[2014-12-24 13:32] janschaefer opened #52 "Support more than strings as argument types in the JSON model"
Currently the JSON report model of JGiven only supports strings as arguments of step methods. However, it might be useful to think about additional data types. One example would be to support lists or tables. Depending on the report generator, e.g. text or html, different representations could be chosen.

A table data type would enable to write something like this:

[code]

The corresponding step

[2014-12-26 13:24] #52 closed, assigned to nobody

[2015-01-08 07:47] janschaefer opened #53 "HTML5 Report: think about integrating http://lunrjs.com/ for improved client-side search"

[2015-01-11 08:48] janschaefer opened #54 "Create a AsciiDoc Reporter"
Having a reporter that generates AsciiDoc would have several benefits:
* The result can be transformed into many other formats like HTML or PDF
* The resulting files could be included in an overall AsciiDoc documentation that is completely separate of JGIven.

[2015-01-17 23:22] janschaefer opened #55 "Allow the dynamic generation of descriptions for tags"

[2015-01-18 12:09] janschaefer commented on #33
scenario report: http://jgiven.org/jgiven-report/html5/#/tag/Issue/%2333

[2015-01-24 20:23] janschaefer opened #57 "Hidden steps do not see injected values when executed as first method"
When a method annotated with `@Hidden` is executed as the first method of a stage, the stage does not yet have the values from previous stages injected.

[2015-01-24 20:25] #57 closed

[2015-01-24 20:29] #55 closed

[2015-01-24 21:12] janschaefer commented on #54
Scenarios: http://jgiven.org/jgiven-report/html5/#/tag/Feature/AsciiDoc%20Report

[2015-02-02 06:52] janschaefer opened #58 "Progress Bar in IntelliJ stays yellow when using JUnit"
Note: this seems not to happen when using TestNG and there is also no problem when using Eclipse.

[2015-02-02 16:57] #58 closed

[2015-02-08 11:49] janschaefer opened #59 "HTML5 Report: Automatically expand scenario if it is the only one of a page"

[2015-02-08 12:13] #59 closed

[2015-02-11 15:06] janschaefer opened #60 "Empty strings as argument prevent generation of data table"
Given the following JUnit test:
[code]
when executing it
then a data table should be generated
 but instead two cases are generated

[2015-02-13 16:57] petega opened #62 "Abstract steps of stages should be printed in the report"
If I define my test specs in a super class with an abstract stage (in the example it is 'given'), and then in the concrete subclass I supply the concrete stage, I would expect a correct report from my test spec. However all abstract stage methods are skipped because they are synthetic.

An example would be the following:

AbstractGiven.java
----------------
    package com.tngtech.jgiven.playgroun

[2015-02-13 20:19] janschaefer commented on #62
Interesting. I will have look.

[2015-02-17 18:49] #62 closed

[2015-02-18 15:13] janschaefer commented on #62
The issue is fixed now and the methods will appear in the report, however, annotations like `@ExtendedDescription` are currently not detected correctly. The problem is that Java does not copy annotations from the original method to the generated bridge method. The solution to this problem is to find the original method and take the annotations from there.

[2015-02-18 15:15] janschaefer opened #63 "Annotations are not found for bridge methods"
Sometimes Java generates bridge methods (see #62). In this case the annotations from the original method are not copied over to the bridge method and JGiven will not find them. In order to find them the original method must be found in case of bridge method. One solution is to use the BridgeMethodResolver class from Spring core, however, we want to avoid an additional dependency to Spring core

[2015-03-08 19:50] janschaefer opened #65 "Support for Ad-Hoc Steps using Lambdas"
Sometimes it make sense to have an ad-hoc step, i.e., a step for which no method is defined in the corresponding Stage class. Using lambdas this could look as follows:

[code]

[2015-03-09 06:16] janschaefer commented on #65
Fixed by #66

[2015-03-09 06:16] #65 closed

[2015-04-04 17:57] #19 closed

[2015-04-13 16:23] nobeh commented on #27
While working on this enhancement, can the meta data be extended to also support customized CSS/HTML elements for the tags?

For example, we have added two tag definitions `@Story` and `@Bug` to annotated test scenarios. The tags are properly generated and we can navigate through them. However, it would be very nice to have a another annotation attribute to accept a custom CSS class for the tag th

[2015-04-13 18:32] janschaefer commented on #27
Great idea! I created a pull request to track that feature: #69

[2015-04-14 16:19] janschaefer opened #70 "HTML5 Report: custom.css file is not copied to target folder"
When generating the HTML5 report the file given with  `--customcss` is not copied to the target folder

[2015-04-14 17:28] #70 closed

[2015-05-05 20:45] janschaefer opened #71 "HTML5 Report: Add grouping to the list of scenarios"
Currently the HTML5 Report only presents a list of scenarios for a given class, tag, or search criteria. This is already nice, however, sometimes one would like to have some more structure in the list output. One way to add a grouping option that would allow to group the resulting scenarios according to another critera, e.g the class name. Then one could, for example, list all scenario of a certai

[2015-05-06 15:23] CrystalMethod opened #72 "SimpleScenarioTest is missing for TestNG"
SimpleScenarioTest should be implemented for TestNG.

[2015-05-06 20:41] #72 closed

[2015-05-07 11:23] janschaefer commented on #72
Thanks for the hint, btw.

[2015-05-07 17:29] CrystalMethod commented on #72
Thx for JGiven, btw. :+1:

[2015-05-18 06:35] CrystalMethod opened #73 "document usage of attachments"
Please document the usage of attachments.

I would like to "link" a XML/JSON document from within a certain GIVEN step. This sounds much like an attachment. Will attachments also be linked in HTML reports?

[2015-05-18 07:10] janschaefer commented on #73
You can see an example for attachments in the JGiven HTML report: http://jgiven.org/jgiven-report/html5/#/tag/Feature/Attachments so yes, they are linked HTML reports. Documentation is still missing for that, in the meantime you might have a look at some examples and the JavaDoc:

* https://github.com/TNG/JGiven/blob/master/jgiven-tests/src/test/java/com/tngtech/jgiven/report/html5/Html5ReportStag

[2015-05-21 10:38] janschaefer opened #74 "Do not require intro words"
Currently JGiven requires to have intro words like and(), with(), but(), between step method calls e.g.:

[code]

If this is not given, the generated report looks somewhat strange. In addition, the intro words are sometimes not really needed/wanted. Instead one should be able to write:

[code]

The open question is now, how the report should look like. There are some possibilities:

1. Just left o

[2015-05-21 11:34] nobeh commented on #74
From a user perspective, I actually like the way it is now in the report. The reason is simple; from a logic and formal method perspective, it's concise and the formatting is also clear.

Now, on a related topic, I suppose the reason there is not `or()` is basically because of the next challenge which is logical `group()`. Is this correct or it's on the roadmap?

[2015-05-21 12:15] janschaefer commented on #74
Thanks for your opinion! However, in my opinion the current formatting in the report is not very nice. The above example would be printed as:

[code]

so `eggs` is aligned with `Given`.

To your second point: there is no `or()` in the `Stage` class, however, you can add arbitrary introduction methods to your stage classes if you want them. Just add a method like that:

[code]

Regarding your 3rd p

[2015-05-26 16:13] CrystalMethod commented on #73
Thx, work as expected - support for ``text/xml``  (or ``application/xml``) would be nice.

[2015-05-26 16:13] #73 closed

[2015-06-03 07:26] janschaefer commented on #73
Actually, arbitrary media types are supported. There are only no predefined constants for them. For example, to create a `text/xml` media type you can write:

[code]

[2015-06-03 09:09] janschaefer commented on #73
I finally managed to write the missing documentation. Please have a [look](http://jgiven.org/docs/attachments/)

[2015-06-03 10:39] CrystalMethod commented on #73
Thanks for the hint.

[2015-06-06 10:08] janschaefer opened #75 "HTML5 Report: Use webjars instead of bower for building"
Currently bower (and npm) is required for building the HTML5 reporter. Using webjars would remove that dependency.

[2015-06-11 12:45] CrystalMethod opened #76 "expected exceptions"
I wrote a JGiven/JUnit test with a given expected exception as follows:

[code]
But the test fails in when()-stage. Is there any chance to use expected exception?

[2015-06-11 13:18] CrystalMethod commented on #76
I managed to catch the exception in when() and pass it to then() via @ProvidedScenarioState.

[2015-06-11 13:23] janschaefer commented on #76
No. You cannot use that JUnit feature. There is also no direct replacement in JGiven at the moment. Instead what will happen is that JGiven will catch the exception continue executing the scenario where all following steps are just marked as skipped and will throw the caught exception at the end again. However, that is than outside of the actually test method, thus the `expected` thing does not wo

[2015-06-12 07:00] CrystalMethod commented on #76
Thanks for the detailed documentation.

[2015-06-12 07:00] #76 closed

[2015-06-15 14:26] mind-blowing opened #77 "Attachments in Parameterized Scenarios (junit-dataprovider)"
Right now in the report I see attachments near steps only for first set of parameters, need possibility to show attachments for each parameter set.

Version: 0.7.2

[2015-06-15 14:29] janschaefer commented on #77
So you mean when you have a parameterized scenario with a data table at the bottom that shows the parameters of the different cases?

[2015-06-15 14:39] mind-blowing commented on #77
Maybe by adding prefix to the title of attachment like "Parameter Set 1: Attachment Name". or maybe with text prefix before attachment image.

[2015-06-15 16:09] mind-blowing commented on #77
Please look on possible fix for this problem #78.

[2015-06-15 20:09] janschaefer commented on #77
Cool thanks.

[2015-06-15 20:29] janschaefer commented on #77
Ok. I tried out your solution. While it works as expected, I think it is hard to see the relation to the different cases. I think it would be great if the attachments could appear in the data table next to the parameters. I will see whether I find a way of doing so.

[2015-06-15 20:47] janschaefer commented on #77
I slightly changed your solution to use smaller indices. What do you think?

[2015-06-16 11:03] mind-blowing commented on #77
With smaller indices looks better.

[2015-06-16 11:12] janschaefer commented on #77
Thanks. I then close the issue.

[2015-06-16 11:12] #77 closed

[2015-06-16 12:01] #74 closed

[2015-06-19 09:44] clementheliou opened #79 "HTML report: Introduce ordering of scenarios"
We may have quite a few scenarios for a given tag.
Currently, they are sorted using alphabetical ordering.

It could be useful to think about a mechanism allowing us to control the ordering used by report generation. The simplest solution probably is to annotate each scenario with its order but we could also think about other strategies.

[2015-06-19 09:58] janschaefer commented on #79
Yes. That is a very good point. I already thought about that issue and didn't come up with a good solution yet, so I would be very happy about suggestions. I would like to avoid additional annotations if possible.

[2015-06-19 10:02] clementheliou opened #80 "HTML5 Report: Accumulate tags"
Currently, we can select scenarios related to one given tag by clicking on it.
But we're not able to select scenarios related to a selection of tags.

Let's say we have these tags:
* Customer -> this a high-level feature tag;
* Account -> this is a more specific feature tag that could be used inside another high-level feature;
* Listed -> this is a customer specificity that could be used inside an

[2015-06-19 10:05] janschaefer commented on #79
Issue #71 is somehow related to this one.

[2015-06-19 10:08] janschaefer commented on #80
Regarding the AND case you can currently use the search for that, because it will search for all occurrences. The OR case is not possible yet. It could be solved using an improved client-side search engine (see #53).

[2015-06-19 11:29] clementheliou commented on #80
Regarding the AND case, the search feature is incomplete.
It returns the scenarios having both the three tags but also the ones having only one (or two) of them, which is undesired.

Will this use case be solved using an improved client-side search engine?

[2015-06-19 11:34] janschaefer commented on #80
Are you sure? For example, if I search for 'Tags JUnit' I only get scenarios which have 'Tags' and 'JUnit':

http://jgiven.org/jgiven-report/html5/#/search/Tags%20JUnit

[2015-06-19 11:40] clementheliou commented on #79
I agree that this feature is not trivial.

Main issue is that a scenario can be related to many tags and its position may depends on the selected tag. We would need an order by tag, indeed an order for each tag combination!

I confess that I do not have the solution. Maybe can we find inspiration from others similar tools?

[2015-06-19 11:46] clementheliou commented on #80
Ok, I got it!
My tags have spaces in their values and share a common part.

* Account Management
* Account Administration

If I search for 'Customer Account Management Listed', it also returns the scenarios with 'Account Administration' tag.

[2015-06-19 13:10] janschaefer commented on #80
Ok. I see :-)

[2015-06-21 10:09] janschaefer commented on #79
I finished a first implementation for grouping, sorting, and filtering. It is tracked now by PR #81.
There is a live demo here: http://jgiven.org/snapshot/jgiven-report/html5/#/all

If you want to test it on your project you can use v0.8.0-SNAPSHOT. You have to add the following snapshot repository to Maven/Gradle in order to get the SNAPSHOT version: https://oss.sonatype.org/content/repositories/

[2015-06-22 07:36] clementheliou commented on #79
Thanks.
It looks promising, especially the "tags" and "group by" parts.

[2015-06-22 10:28] janschaefer commented on #79
So do you think that this is enough for your use case? What I could add in addition would an option to sort by a tag. Then you could put tag-annotations on scenarios to define a certain order.

[2015-06-22 15:35] clementheliou commented on #79
This is a great improvement for the issue #80 use case. But it's not enough for the ordering one. Anyway, I don't think there is a trivial solution. One has to found a solution managing multi-tags combination.

Over a first phase, I'll see if the grouping capabilities are enough to deal with our scenarios.
I'll let you know if we need to found another solution.

Thanks for your great job ;)

[2015-06-22 19:10] janschaefer commented on #79
Ok. So I think a first easy solution would be to allow ordering by tags with values. For example, if you have a tag `Issue` that takes a string as a value. It would be easy to implement something like Sort By Issue. The sorting would then just take the value of the tag and use this for sorting.

This, however, only works if the value itself can be used for sorting. This should be true for most cas

[2015-06-22 21:17] janschaefer opened #82 "HTML5 Report: Search for words with whitespace"
It should be possible to search for words with white spaces by using quotation marks.

[2015-06-22 21:18] janschaefer commented on #80
Created #82 for searching for words with whitespace

[2015-06-23 07:17] clementheliou commented on #79
That could be a first solution.
Let's give it a try!

[2015-06-23 14:23] janschaefer commented on #79
Ok :-)

[2015-06-23 20:19] janschaefer commented on #79
I have implemented the sorting by tag. Its available with v0.8.0-SNAPSHOT. You can try it also out at http://jgiven.org/snapshot/jgiven-report/html5/#/all and 'Sort By -> Issue'.

[2015-06-26 06:52] janschaefer commented on #79
Do you think I can close the issue?

[2015-06-26 07:05] janschaefer opened #83 "Substages"
It is often the case that one uses multiple builders inside a single stage. In that case it would be convenient it these builders could directly be used in the scenario instead of having to write additional wrapper methods in the stage.

# Example of current situation:

## Scenario:
[code]

## Stage:
[code]

# Desired Situation:

## Stage:
[code]

## Scenario:
[code]

# Open Questions

## Should S

[2015-06-26 07:10] CrystalMethod opened #84 "[Q] @AfterStage in SimpleScenarioTest/Stage"
When using SimpleScenarioTest how do I finish a builder? ``@AfterStage`` is called only once right after all given(), when(), then().

[code]

[2015-06-26 07:14] janschaefer commented on #84
Hi, @AfterStage methods are called directly before the next stage is executed. Thus your example should work actually. Maybe you mean @AfterScenario methods? These are called after the whole scenario has finished.

[2015-06-26 07:22] CrystalMethod commented on #84
In this test ``afterStage()`` is called at the end of the scenario, after ``then`` stage.

[code]

[2015-06-26 07:25] CrystalMethod commented on #84
Currently I use a method annotated with ``@Hidden`` to explicitely finish builders at the end of ``given`` stage.

[2015-06-26 08:42] janschaefer commented on #84
Ok. I see. The reason is that you only have a single stage here that you use for all steps. In this case the AfterStage method is indeed only called at the end of the scenario.

[2015-06-26 09:28] clementheliou commented on #79
I would keep it open as we only have a partial solution. ;)

By the way, the sort by tag option could probably be improved.
Let's say I defined an Order tag with an Integer value.
Then I can use the sort by tag option to sort my scenarios.

But these tags are displayed anyway and they are like boilerplate around my scenarios.
Could we have an option to hide them?

[2015-06-26 11:18] janschaefer commented on #79
Actually you can do that already by using the `cssClass` attribute of the `@IsTag` annotation. For example you can define:

[code]
in a `custom.css` file and then write:

[code]

[2015-06-26 12:06] clementheliou commented on #79
Ok. That's nice!

[2015-07-01 19:54] riadmaouchi opened #85 "Stage does not support lambda expression"
I have implemented a simple step with lambda-expression inside:

[code]
When I launch the test, the following exception occurs:

[Stack Trace]
<code>
java.lang.ArrayIndexOutOfBoundsException: 19562
	at com.thoughtworks.paranamer.BytecodeReadingParanamer$ClassReader.accept(BytecodeReadingParanamer.java:563)
	at com.thoughtworks.paranamer.BytecodeReadingParanamer$ClassReader.access$200(BytecodeReadi

[2015-07-01 20:28] janschaefer commented on #85
Interesting. This is indeed a severe problem.

[2015-07-02 21:22] #85 closed

[2015-07-02 21:23] janschaefer commented on #85
Ok. I have fixed the issue. However, it has a little drawback. In order to work for Java 8 correctly, you have to compile your test classes with the -parameters option of javac.

[2015-07-02 21:23] janschaefer commented on #85
Thanks for reporting, btw :-)

[2015-07-02 21:29] janschaefer commented on #71
Closed by #81

[2015-07-02 21:29] #71 closed

[2015-07-04 08:28] #84 closed

[2015-07-07 11:50] janschaefer opened #86 "Step Tables: Different values in step tables should be detected by data-tables"
Given a scenario
   with a step with a parameter that has an @Table annotation
When the scenario is executed multiple times
   with different values for the table parameter
 Then the resulting tables should be compared
   and different values be replaced with a place holder variable.

[code]

[2015-07-08 12:52] janschaefer opened #87 "Support @Description for @IntroWord method"
The @Description tag is ignored for methods marked with @IntroWord, which should not be the case.

[2015-07-11 20:52] #87 closed

[2015-07-14 11:05] janschaefer opened #89 "HTML5 Report: tables with duplicate entries cannot be used as step parameters"
Given a step parameter with the @Table annotation
 when the step is called using a list with duplicate entries
  then the generated HTML5 report does not show the table correctly
   and logs 'Error: [ngRepeat:dupes]'

[2015-07-14 20:35] #89 closed

[2015-07-15 11:53] ahus1 opened #90 "Hierarchy for Tags or Tests"
To advocate for JGiven in a larger project I would like to see hierarchies for test cases.

This could lead to a business motivated hierarchy like:

    category1\subcategory1\usecase1
    category1\subcategory1\usecase2
    category1\subcategory2\usecase3
    category2\subcategory3\usecase4
    category2\subcategory3\usecase5

One source of a hierarchy could be java package names (in JGiven i.e.

[2015-07-15 12:47] janschaefer commented on #90
This is more or less the same as #27 regarding the tags.
Regarding the hierarchy of test classes, do you mean that in the HTML5 report the test classes should be hierarchically structured by package name. Something like:
[code]
Maybe even having the possibility to show all scenarios of a certain package?

[2015-07-15 12:49] janschaefer commented on #90
In #27 the suggestion would be to be define categories again as Java annotations and then annotate the `@IsTag` annotation with these categories, e.g.:

[code]

[2015-07-15 13:00] ahus1 commented on #90
@janschaefer - regarding package names, yes, a layout like

    com
      tngtech
          jgiven
             report
             impl
             ...

would be perfect. When I select a package I would like to see the test cases in the selected package **and in the subpackages**.

[2015-07-15 13:04] ahus1 commented on #90
@janschaefer - regarding annotations as outlined in #27 it would work for me as long as I can define as many hierarchy levels as needed. I the order of the annotations preserved (1st annotation = 1st level, 2nd annotation = 2nd level)?

BTW: I didn't think that #27 named "Meta Tag" would contain such a nice thing ... :-)

[2015-07-15 19:43] janschaefer commented on #90
Well, I actually would rather say that you only put the subcategory annotation to the tag. And the subcategory has as annotation the category, something like:

[code]

[code]

[2015-07-15 21:39] ahus1 commented on #90
ok for me as long as multiple category levels are possible in the report.

[2015-07-16 17:32] janschaefer commented on #90
Sure. Ok, I will try to implement that. Shouldn't be too hard ;-)

[2015-07-16 20:22] janschaefer commented on #90
Hierarchy for test class is now implemented in PR #91

[2015-07-16 20:29] janschaefer opened #92 "HTML5 Report: Show duration in appropriate units"
Durations are currently only shown in seconds in the HTML5 report. For large numbers it would be better to show minutes or even hours.

[2015-07-20 05:51] janschaefer commented on #80
Do you think this issue can be closed now with the introduction of filtering by tags?

[2015-07-20 05:52] janschaefer commented on #75
It might be better instead to switch to browserify. Than only npm is needed and the HTML5 App can be better unit-tested.

[2015-07-20 13:10] wolfs commented on #75
I do not see why you cannot have npm install bower and then call it. Or even use something like grunt or gulp (called and installed by npm). I also do not think that browserify will solve the problem at hand.

[2015-07-20 13:12] janschaefer commented on #75
The advantage of browserify would be the easier headless testing.

[2015-07-21 13:44] clementheliou commented on #80
Intrinsically, the filtering by tags feature resolves this issue.
However, there is some kind of troubleshooting with it.

Let's try with the JGiven documentation: http://jgiven.org/jgiven-report/html5/#/tag/Feature/JUnit
Randomly, scenarios are not updated with the selected tags (for examples Tags & TestNG).

[2015-07-21 14:39] janschaefer commented on #80
Mmh. For me it works as (I) expected. Could you explain in more detail what is wrong?

[2015-07-21 15:31] ahus1 commented on #90
Just built current version locally to have a look at PR #91. Looks really nice! Thanks a lot!

[2015-07-21 15:37] janschaefer commented on #90
Ok. Cool :-). Regarding the hierarchical tags: I am working on it, but it turned out to be more difficult than I first expected. I am nearly done though.

[2015-07-21 15:43] clementheliou commented on #80
Let's say I'm looking at the JUnit feature: http://jgiven.org/jgiven-report/html5/#/tag/Feature/JUnit
When I accumulate/select the Tags & TestNG values inside the Tags dropdown, the displayed scenarios are not always updated. That means, randomly, unrelated scenarios are still displayed.

It looks like a refresh issue but seems to appears randomly.

[2015-07-21 15:57] janschaefer commented on #80
Ok. That is strange and should not happen ;-). Which browser are you using?

[2015-07-21 16:18] clementheliou commented on #80
I'm using Chrome version 38.0.2125.104

[2015-07-21 17:02] janschaefer commented on #80
With Chrome 43.0.2357.125 on Linux, I cannot reproduce it. Could you please test it in another browser to see whether this is browser-specific? And could you take a screenshot of the wrong page?

[2015-07-22 07:33] clementheliou commented on #80
I can reproduce this behavior with Firefox 24.1.1 ESR.
See below a screenshot.
![troubleshooting_tags](https://cloud.githubusercontent.com/assets/10561933/8820298/799dae10-3054-11e5-9dff-e135308cd828.PNG)

[2015-07-22 07:52] janschaefer commented on #80
Ok. Beside the fact that the layout is not that good, because of the smaller window size (that should be fixed) this is what I also see :-). Maybe we have a different understanding of what should be shown. The point is that the selection of tags is actually an 'or' relation and not an 'and' relation. Thus if you select 'Tags' and 'TestNG' you will see all scenarios that have either the 'Tags' tag

[2015-07-22 08:11] janschaefer commented on #80
Actually I must admit that I wanted to follow the GitHub behavior when using labels. Somehow I thought that this was an or-relation, but actually it is an and-relation. So I guess using an and-relation is more intuitive.

[2015-07-22 08:56] clementheliou commented on #80
I was expecting an and-relation but I have to admit that using the or one is also a valid scenario.
If you decide to add the and-relation, this issue could be closed.

[2015-07-22 13:10] janschaefer commented on #80
Ok. I will have to think about that :-)

[2015-07-29 17:45] janschaefer commented on #27
I close this issue as a duplicate of #90

[2015-07-29 17:45] #27 closed

[2015-08-01 19:23] janschaefer opened #95 "Store stack trace in case of a failing scenario and be able to show in HTML5 report"
In case of a failing scenario it would be sometimes useful to be able to see the stack trace in the HTML5 report.

Things to do:
- store stack trace in the JSON model in case of an exception
- extend the HTML5 report to have a small button/link to show the stack trace

[2015-08-01 20:23] janschaefer opened #96 "HTML5 Report: Resizing + Hiding of the navigation bar"

[2015-08-02 06:26] janschaefer opened #97 "Create maven archtetypes"
- One for junit
- One for testng
- One for spring

[2015-08-02 06:59] janschaefer commented on #48
Actually, I decided to remove the static html report completely. As the HTML5 report covers all the functionality of the static HTML report, the additional maintenance cost is to high to still support it.

[2015-08-02 06:59] #48 closed

[2015-08-02 07:01] janschaefer commented on #36
Instead in 0.8.0 there will be the `@As` annotation.

[2015-08-02 07:01] #36 closed

[2015-08-02 07:03] janschaefer commented on #31
This is obsolete now as the static HTML reporter will be removed with 0.8.0

[2015-08-02 07:03] #31 closed

[2015-08-02 07:06] janschaefer opened #98 "Gradle report plugin"
Like there is already a maven plugin a corresponding gradle plugin would be nice.

[2015-08-02 07:12] janschaefer commented on #80
For now I decided to change the or to an and-relation, because it is typically the case that you want to narrow down the number of scenarios. The change will be in v0.8.0.

[2015-08-02 12:50] janschaefer commented on #90
Finally the feature is now implemented. #99

[2015-08-02 12:50] #90 closed

[2015-08-03 21:18] ahus1 commented on #90
Just looked at the jgiven-tests built from trunk. Tree navigation for features and classes is amazing. Thanks, Jan!

![treenav_jgiven](https://cloud.githubusercontent.com/assets/3957921/9047948/afa597da-3a35-11e5-9ad6-37e092202961.PNG)

[2015-08-04 17:40] janschaefer commented on #90
Thx :-)

[2015-08-04 19:05] #92 closed

[2015-08-05 06:46] #96 closed

[2015-08-05 19:44] clementheliou commented on #80
Nice! Thanks.

[2015-08-08 08:18] janschaefer opened #102 "Repeatable AfterStage/BeforeStage methods"
BeforeStage and AfterStage methods are exactly executed once. This is sometimes not desirable if you want to use the same stage multiple times in the same scenario. For example, if you have a builder in the AfterStage method and you want it to built something each time the stage has finished. Thus it would be helpful to have a way of overriding this default behavior.

Idea: Give the `@AfterStage`

[2015-08-08 08:29] janschaefer opened #103 "Do not execute @Hidden methods like normal step methods"
Currently `@Hidden`-annotated methods are executed like normal step methods, but just do not appear in the report. This causes problems when the hidden method is not returning the stage instance as required for step methods and then an exception is thrown in previous step methods.

Example:
[code]

As JGiven captures the exception in the 2nd step and tries to execute the following methods in a ski

[2015-08-09 21:15] wolfs commented on #103
Point 1. probably should read: "Execute hidden methods in skipped mode".

[2015-08-10 18:36] janschaefer commented on #103
true, fixed.

[2015-08-24 10:06] nikowitt opened #104 "Two boolean parameters with the same value in @DataProvider are not recognized properly"
Given the following test

	@Test
	@DataProvider({
			"true, true"
			"false, false"
	})
	public void validate_read_access_for_supplier_contact(
			boolean isSupplierAuditForHisCompany, boolean success) throws Exception {
		given().supplier_audit_which_$_for_company_of_supplier_contact(isSupplierAuditForHisCompany)
				.and().logged_in_user(SumaDatabasePopulation.USER_SUPPLIER_CONTACT);
		when().us

[2015-08-25 12:53] janschaefer commented on #104
That is definitely a bug. Thanks for reporting. Btw. if you compile your test classes with the -parameters option of javac, you will get better placeholder names.

[2015-08-26 07:59] adrian-herscu opened #105 "jgiven report fails when running testng dataproviders in parallel mode"
Given the following scenario:

    @Test(enabled = false, dataProvider = "dummyData", dataProviderClass = SelfTestsData.class)
    public void shouldTestInParallel(final String left, final String right)
            throws Exception {
        given().nothing();
        when().doing_nothing();
        then().$("left should be equal to right", stage -> { //$NON-NLS-1$
                    assertThat(l

[2015-08-26 09:08] janschaefer commented on #105
Interesting. I never actually tried that. I classify that as a feature request :-)

[2015-08-26 20:00] #104 closed

[2015-08-26 20:04] janschaefer commented on #104
Corresponding scenario: http://jgiven.org/jgiven-report/html5/#/tag/Issue/%23104

[2015-08-27 11:30] adrian-herscu opened #107 "the jgiven html5 report tries to read all *.json files"
Given any.json file in any subfolder
and any.json files contents are:
{{}} // that's illegal
When the HTML5 reporter runs
Then the following exception is thrown:

com.google.gson.JsonSyntaxException: com.google.gson.stream.MalformedJsonExcepti
on: Expected name at line 1 column 2 path $.
	at com.google.gson.Gson.fromJson(Gson.java:820)
	at com.google.gson.Gson.fromJson(Gson.java:743)
	at com.tngte

[2015-08-28 07:18] janschaefer commented on #107
How do you execute the reporter, with the maven plugin or standalone? Do you specify the source directory using the --sourceDir option?

[2015-08-28 20:06] janschaefer commented on #105
This is now tracked by PR #108 (not finished yet)

[2015-08-30 07:31] adrian-herscu commented on #107
try {
            final ReportGenerator generator = new ReportGenerator();
            // TODO make these parameters configurable -- once the Launcher will
            // become Configurable
            generator.setTargetDirectory(new File("reports"));
            generator.setFormat(Format.HTML5);
            generator.generate();
        } catch (final Exception e) {
            e.printStackTra

[2015-08-31 06:09] nikowitt opened #109 "Question/Improvement: Custom StringConverter?"
Hi there,
a small question/improvement suggestion: it should be possible to override com.tngtech.java.junit.dataprovider.internal.convert.StringConverter, to be more precise the private Object convertValue(String str, Class<?> targetType) method. The background is to be able to support more parameter types in the @DataProvider annotation, e.g. Date and DateTime or any other types that don't have a

[2015-08-31 08:17] janschaefer commented on #109
Hi Niko,
the dataprovider is actually no part of JGiven, but a separate project. Please raise your question here: https://github.com/TNG/junit-dataprovider

[2015-08-31 08:17] #109 closed

[2015-09-01 12:23] nikowitt opened #110 "Report is messed up when method used in SimpleScenarioTest is private"
Hi,
when using a SimpleScenarioTest, all methods I implement must not be private, otherwise the report gets messed up:

[code]
results in

Test Class: com.sobis.suma.tests.PrivateTest

 Scenario: test report

   Given something
    When something is done
    Then something is expected

Using the private modifier somewhere, e.g.
[code]
creates
Test Class: com.sobis.suma.tests.PrivateTest

 Scenario

[2015-09-01 13:16] janschaefer commented on #110
Yes, this shouldn't be the case. I will have a look at that.

[2015-09-01 20:25] janschaefer commented on #110
This issue is not fixable. The problem is that JGiven uses cglib proxies to intercept the methods. Private methods, however, cannot be intercepted, so JGiven can neither put them into the report nor throw exceptions. I fear the only thing I can do about this is to document it. I have extended the documentation accordingly: http://jgiven.org/docs/stages/

[2015-09-01 20:25] #110 closed

[2015-09-02 06:04] nikowitt commented on #110
Just my 2 cents regarding this issue without any additional knowledge: isn't it possible to indirectly check the result by comparing a report string against the original  test method which is the entry point of the whole trace instead of trying to check the modifiers?

In my case, the self in "then" does not match the method "something_is_expected".

There might be cases when the report is modifie

[2015-09-02 07:06] janschaefer commented on #110
Technically JGiven captures the method calls at runtime using a proxy mechanism. In particular, JGiven does not parse the source code. The problem is that it is technically not possible to intercept private methods in Java using a proxy. So JGiven can never find out that the method `something_is_expected` was ever called. Sure it would be somehow possible to parse the source code of the test metho

[2015-09-02 07:14] nikowitt opened #111 "Reduce code verbosity when using loops in yet empty stages"
Hi Jan,

sorry for bothering again, but due to the fact that we are systematically introducing JGiven in our testing environment, I want to share every feedback to make this great product even better.

Let's check the PrivateTest again:

[code]

This test creates the following output:
[code]

When I change my test to

[code]

the following output is created:
[code]

The second is implementation is

[2015-09-02 07:23] nikowitt commented on #110
Yes, you are right - the original idea is to give developers a hint what they have done wrong when the result doesn't match the expectation. But I totally agree to the fact that the effort exceeds the benefit.

Thanks for your feedback!

[2015-09-02 09:27] janschaefer commented on #111
first of all: thank you very much for your feedback! This is very valuable, I am happy to get this kind of feedback, so please continue bothering me ;-)

Regarding your question: While I agree that this is not perfectly nice, I guess it is not easy to fix. The problem is that I want to avoid putting such logic into JGiven. Currently, JGiven does not even know that there exist the words 'and' and '

[2015-09-02 11:05] nikowitt opened #112 "Streamline stacktrace in case of errors"
Hi there,

some other feedback from our developers that is worth sharing with you.

In comparison to a JGiven based test to a non JGiven based test, the stack trace is inflated due to the proxy interception. Example:

[code]

This trace is not as easy to read as before and it contains many proxy/interception lines between the code that is actually invoked in the test. Do you see any way in streaml

[2015-09-02 11:16] nikowitt commented on #111
Yes, some mechanism that you've just described would be perfect. Since given(), and(), when() seem to be technically equal and there is no hierarchy, it is probably sufficient to provide an alternative when an @IntroWord is the second word of a stage. Or maybe to be able to mark given(), when(), then() as a "leading" @IntroWord and then to provide an alternative word when the preceding @IntroWord

[2015-09-02 15:25] janschaefer commented on #112
You could even strip it further down by using the following Eclipse JUnit stacktrace filter preferences:
![junitstacktracefilter](https://cloud.githubusercontent.com/assets/3749345/9635581/70a10cee-5197-11e5-8949-63eb0f272980.png)

The resulting stacktrace would look something like this (note that you have to enable the 'Filter Stacktrace' option in the JUnit stacktrace view):

[code]

[2015-09-02 15:28] janschaefer commented on #112
With additional preferences you can even remove the springframework stuff.

[2015-09-03 03:47] nikowitt commented on #112
I see... my bad, even after years of using Eclipse, I haven't discovered everything :) Thank you very much!

Yes, I know that this is unrelated to the original request, but since you seem to be an Eclipse expert, do you know if there is any possibility to add the -parameters flag to the built-in compiler?

[2015-09-03 05:21] janschaefer commented on #112
Actually, the -parameters flag will not be necessary anymore with the upcoming v0.8.1 release, which I hope to release within the next days. However, in the meantime you can configure Eclipse accordingly by opening your project settings and configure the Java Compiler:

![eclipseparameterssettings](https://cloud.githubusercontent.com/assets/3749345/9651101/29716c72-520c-11e5-9d72-d9e324337164.png)

[2015-09-03 06:39] nikowitt commented on #112
Now I know why I haven't found this - the checkbox is disabled unless the compiler compliance level is not set to 1.8.

Thanks for the hint!

[2015-09-03 06:39] #112 closed

[2015-09-04 07:01] janschaefer opened #113 "Allow for defining global formatters for certain types"
It should be possible in JGiven to globally register formatters for certain types, so that it is not necessary to use an explicit formatter for each parameter usage.

[2015-09-05 07:45] janschaefer commented on #111
Another problem is a bit that sometimes you want to explicitly have another 'given' (or when or then) even though you had one already. For example, if you have multiple independent things and you want to highlight that. For example:

[code]

So building logic into the intro words may result in a report that you might not really want. Maybe you can explain your use case a bit more, because we typic

[2015-09-05 12:10] nikowitt commented on #111
Let me show the test:
[code]
In this test, the loop is determined by the length of the var-arg dates which should be directly displayed in the report to be able to check if the logic (the supplier award date always match the latest award date) is correct, so just shifting the loop down has a negative impact on the readability.

[code]

[2015-09-05 12:46] janschaefer commented on #111
Ok. I also think that data tables are hard to get in this example. However, you might want to use table parameters. See http://jgiven.org/docs/parameterizedsteps/ and http://jgiven.org/javadoc/com/tngtech/jgiven/annotation/Table.html.

Using that you could have one method `the_awarded_quotations_of_the_same_company_are( quotations )`

Btw.: you might want to annotated the `logged_in_system_user` m

[2015-09-05 15:47] nikowitt commented on #111
Thanks for the advice, I'll play a little bit with the @Table as soon as I can spare some time. The @Hidden parameter is already frequently used in our JGiven wrapper classes :)

[2015-09-05 16:51] nikowitt opened #114 "Allow @Format for @Test method parameter"
It's me again :)

[code]

creates a report like
[code]

Even when I supply a @Formatter to the variables, the report still looks the same. Appearantly, @Formatters are only evaluated inside the test class, but not on the test class itself.

Best regards,
Niko

[2015-09-05 16:54] janschaefer commented on #114
Well, I have expected that, after I saw your report ;-)

Currently, the formatters are only used for step methods. The problem is a bit, that the parameter values only appear if you have multiple cases, but no data table. However, I think this feature is quite useful and should also not be too difficult to implement.

[2015-09-05 17:35] #114 closed

[2015-09-05 17:36] janschaefer commented on #114
It was nearly trivial to implement ;-)

[2015-09-06 07:15] nikowitt commented on #114
Nice to hear :)

[2015-09-06 12:56] adrian-herscu opened #115 "a JSON report is generated only for one JGiven Test Scenario"
Given multiple JGiven Test Scenario classes based on TestNG
When running tests using Maven Surefire
Then a JSON report is generated only for one JGiven Test Scenario

As side note, same happens when I am running the tests programmatically like this:

    final TestNG testng = new TestNG();
    testng.setTestClasses(new Class[] { testClass1, testClass2, ... });
    testng.addListener(new TestListen

[2015-09-06 13:02] janschaefer commented on #115
Yes, admittedly, TestNG is not as well tested as JUnit. The defect will be fixed with the fix of #105

[2015-09-06 13:03] janschaefer commented on #115
Thanks for your feedback btw!

[2015-09-07 17:57] #105 closed

[2015-09-07 17:57] #115 closed

[2015-09-07 18:04] janschaefer commented on #107
Do you have any updates on this issue?

[2015-09-10 04:05] nikowitt commented on #111
I'm just shifting the update to a new post as it might have gone lost.

What could be interesting is to be able add some automatic counter row/column to the table. This way, @Table'd data could be referenced to more easily later (in my example it's basically tabling the quotation award dates without supplying an index as a variable).

[2015-09-10 04:44] janschaefer commented on #111
I agree, I had the same idea, but forgot to create an issue for that :-). Basic idea would be to give the table annotation an attribute to enable these indices.

[2015-09-10 05:04] janschaefer opened #116 "Extend @Table with attributes to enable automatic numbering of rows and columns"
Suggestion:

[code]

[2015-09-10 05:05] janschaefer commented on #111
I created #116 to track that.

[2015-09-10 05:07] janschaefer commented on #116
What about the title for these index columns/rows, should that be configurable or would be a default enough?

[2015-09-10 13:08] nikowitt commented on #116
I think it makes sense to be able to configure the title in these cases while using "#" as default.

[2015-09-11 07:24] mthuret opened #117 "HTML5 Report : allow certain attachments to be directly seen inside a scenario"
Currently, when using attachments it add a link to see it. It's great when using this feature to see errors when tests are instrumented directly from a gui.

But it could also be use to add some diagrams to enrich the living documentation, and in that case it would be nice if pictures will be directly displayed beside the scenario itself.

What do you think  ?

[2015-09-11 07:35] janschaefer commented on #117
That is actually a great idea! Also it should not be too hard to implement this.

[2015-09-11 07:39] janschaefer commented on #116
What do you think about the following:

[code]
Add an index to each row with header `#`.

[code]
Adds an index to each row with header `Counter`.

[2015-09-11 07:46] nikowitt commented on #116
That'll be great!

[2015-09-11 11:41] nikowitt opened #118 "@As drops last character in particular case"
Hi Jan,

some small thing I've just observed:
[code]
which is called via
[code]

results in the report
[code]
The last "]" is dropped. When I'm using

[code]
with a blank after $, the report is printed out correctly:

[code]

Best regards,
Niko

[2015-09-11 14:26] janschaefer commented on #118
Ok. This is actually a 'feature' of JGiven. This allows you to give the placeholders names. So when you can write @As("$entity entity") and the whole word `$entity` will be replaced by the placeholder. In this case, JGiven treats `$]` as the placeholder to replace.

[2015-09-11 15:01] #103 closed

[2015-09-11 15:01] janschaefer commented on #103
I decided to introduce a new annotation `DoNotIntercept` for this use case

[2015-09-11 15:06] janschaefer commented on #118
I think I could change the behavior here to only allow [a-zA-Z0-9] as a valid character for a placeholder name.

[2015-09-11 15:07] janschaefer commented on #118
I think it is also fair to treat this as a bug ;-)

[2015-09-11 15:48] nikowitt commented on #118
Either that or a minimum length of at least 2 characters are required, but maybe it makes sense to define a single char name like $a, so your suggestion is probably the best solution.

Am 11. September 2015 17:06:08 MESZ, schrieb Jan <notifications@github.com>:

[2015-09-11 18:00] janschaefer opened #119 "HTML Report: The scenario list only shows the first 20 entries"
In version 0.8.1 the HTML Report shows only the first 20 scenarios in the scenario list. Only after a reload the other entries are shown.

[2015-09-12 09:27] #118 closed

[2015-09-12 14:40] #119 closed

[2015-09-12 14:44] janschaefer commented on #118
I actually decided to rewrite most of the placeholder parsing, which introduces a small backwards incompatibility. Thus this fix will be released with 0.9.0.

[2015-09-12 16:43] janschaefer commented on #117
This is now implemented with b05c6514e905f9ff106a488b3a81e82a1353d44d

[2015-09-12 16:43] #117 closed

[2015-09-12 21:38] #116 closed

[2015-09-13 06:02] nikowitt commented on #116
Hi,
I'm just curious regarding your implementation:

Is there any specific reason to decided to implement the default header with a blank value and then to e.g. implement
[code]

instead of just providing the default value "#" in the annotation itself and then just to use
[code]
It's less verbose and you could directly see in the annotation what default value is used?

Regards Niko

[2015-09-13 06:13] janschaefer commented on #116
Cool that you review my code! :-)

But there actually is a reason, but a subtle one. The problem is that I have to distinguish whether a user has explicitly set a column header or not. In Java, I cannot set the default value to `null` which would be the obvious value for absent. So while you above code would work with your suggestion, the code that decides whether or not to add numbered columns wo

[2015-09-13 06:14] janschaefer commented on #116
Thinking a bit more about this, it might not be that unlikely that a user explicitly wants an empty header. So maybe I should change the default to something like `"__NOT_SET"`

[2015-09-13 07:00] nikowitt commented on #116
Well, I'm a curious guy ;)

Ah, OK, i didn't see that there is the requirement to be able to distinguish between set or not that (I was just aware of the code change and then concluded that e.g. hasVerticalHeader() property was enough to determine whether something is set or not without knowing how it is actually calculated.

The reason I'm pointing that out is that I've actually expected the "#"

[2015-09-13 08:27] janschaefer commented on #116
Yes, you are right. I improved the JavaDoc and also changed the default so that you can now even specify `@Table( numberedRowsHeader = "")`.

[2015-09-14 09:56] nikowitt opened #122 "Combine @Table with another formatter?"
Hi again,

I'm currently playing again with the @Table annotation:

[code]

returns the result:

[code]
By default, all POJO fields are rendered (unless modified with includeFields/excludeFields). The usage of fields basically works fine for POJOs where I have full control of or where I can find fields fields that return a well-formatted value.

In my case, DateTime consists of the fields iMillis

[2015-09-14 10:13] janschaefer commented on #122
I totally agree that this makes sense, I just haven't thought about that yet ;-). Especially, whether you want to have the POJO rendered by the `toString` method or a special formatter, or whether you want to have the fields of the POJO treated as columns. In addition, a completely self-defined formatter that translates a POJO into a list of Strings would also make sense.
As a workaround for now y

[2015-09-15 18:53] clementheliou commented on #35
Hi,

While waiting for this useful feature, is there an equivalent that would allow us to explain the rational behind our scenarios ?

Moreover, do you plan to display the extended description accordingly to the steps ones or in another way (close to a tag's description for example) ?

[2015-09-15 18:57] janschaefer commented on #35
Currently the only way is to use JavaDoc comments. But these will not appear in the report.

It is not clear to me yet what the best way of showing this information would be. I think I have to experiment a bit. Having a tooltip like for the steps would be one possible option.

[2015-09-15 19:46] clementheliou commented on #35
I was thinking about the tooltip too. Another option, as suggested in my previous comment, would be to display it as a caption of the scenario.

We could provide the two alternatives using an annotation attribute.

[2015-09-15 20:25] janschaefer commented on #35
So the caption would be in a smaller font directly above the scenario and already visible when scenario is not expanded?

[2015-09-15 20:29] clementheliou commented on #35
Exactly. One will have to experiment a bit to find the best style (smaller size, italic font, etc.).

[2015-09-16 04:40] janschaefer commented on #35
I have tried three different ways: having a small description above the title, having a tooltip on the title and having a separate icon behind the title with a tooltip. I liked the third the solution most. Please tell me what you think. Here is the report of the current implementation:

http://jgiven.org/snapshot/jgiven-report/html5/#/tag/HTML5%20Report

[2015-09-16 07:04] clementheliou commented on #35
Hi Jan.

Thanks for the tests.
I like this solution too. However, I think that the icon is not the most appropriated. I would use a question mark or something similar instead.

Great job anyway.

[2015-09-16 08:07] janschaefer commented on #35
Choose one:

http://fortawesome.github.io/Font-Awesome/icons/

:-)

[2015-09-16 08:32] clementheliou commented on #35
This one could be great: http://fortawesome.github.io/Font-Awesome/icon/question-circle/
Regarding the formatting, please keep me posted.

Thanks a lot for the job. ;)

[2015-09-16 16:31] janschaefer commented on #35
Ok. I have now changed the icon and addition also show the extended description as a subheader below the title (so you can better compare both approaches):

http://jgiven.org/snapshot/jgiven-report/html5/#/tag/HTML5%20Report

The sub header is now always visible.

[2015-09-17 15:32] clementheliou commented on #35
Hi Jan,

The subheader/caption approach seems to be the best one.

I would add an attribute to the annotation to determinate the default visibility, keeping the icon to toggle the caption. I would also reduce the caption's font size (from 1.1 em to 0.8 em).

What do you think of this solution?

[2015-09-17 20:12] janschaefer commented on #35
Ok, I have experimented a lot now. It is harder than I initially thought :-)
I think a toggle of the extended description is not really needed. It seems like an overkill, because the scenario itself can already be toggled.
I changed the font size to 0.9rem and also added a slight border to the bottom. I also limit the width of the description to 35rem so that a single text line is not getting too

[2015-09-17 20:23] clementheliou commented on #35
Hi Jan,

I agree with you about the toggle feature.
Current implementation is OK for me.

[2015-09-18 05:06] janschaefer commented on #35
Great. Then I close this issue for now. If we have further ideas we can create a new issue.

[2015-09-18 05:06] #35 closed

[2015-09-20 20:54] mgehlen opened #123 "testNG DataProvider: in case one data set fails the following data sets are not performed"
Hello,

I have a problem using testNGs DataProviders, when one of the test sets is failing.
Here is my type of scenario:

[code]

The first test fails since the password is actually long enough, the test skips the "and he did not log in" step, which is completely fine.
But now the second test with the second data set ist also skipped. In my point of view a faulty data set should not lead to ending

[2015-09-20 20:56] janschaefer commented on #123
No that should not happen.

[2015-09-23 14:22] nikowitt opened #124 "Report is rendered incorrectly when table in table is required"
Hi Jan,

I've discovered another in a more complex report:
[code]
where the QuestionNumberHolder is
[code]

and
[code]

creates the following report:
[code]

It now makes sense to add @Table:

[code]
but this results in
[code]

Actually, a nested table is expected, but instead the first entry in the dataset is used in the scenario description and the cases don't change, so this is basically some m

[2015-09-23 14:35] janschaefer commented on #124
This is actually a known issue: https://github.com/TNG/JGiven/issues/86

I am not sure what a good fix would be. Because nesting a table in a table will become ugly, I guess. I think the best solution would be to not generate a data-table and print all cases separately.

[2015-09-23 14:46] nikowitt commented on #124
Ah, sorry, for posting a duplicate.
Some small improvement is already to be able to control the separator for which currently, a comma is used. By e.g. being able to use \t, the readability + overriden the toString() could already help a but.

[2015-09-24 03:30] #124 closed

[2015-09-24 07:07] nikowitt opened #125 "HTML 5 report marks scenario as success even though one case failed"
Hi there,

while using the html5 report generator, one case in my scenario fails but the whole scenario is marked as successful.

[code]
When dummy job is running, status is "FAILED", but the whole execution status is SUCCESS. Am I doing something wrong?

The test case that fails:

[code]

Best regards,
Niko

[2015-09-24 07:42] nikowitt opened #126 "Ability to define default formatters"
Hi Jan,

in my tests, I'm using various objects (e.g. enum uses a lowercase/replace _ with blank formatter, class uses a simple name formatter) where I supply the same formatter over and over again. Do you think it makes sense to be able to define a custom default formatter per class?

Best regards,
Niko

[2015-09-24 10:23] janschaefer commented on #125
That is strange. It even seems that this not even a bug in the HTML reporter but rather JGiven Core as the JSON is already wrong.

[2015-09-24 10:24] janschaefer commented on #126
Yes, I already thought about this, see #113 ;-)

[2015-09-24 11:58] nikowitt commented on #126
Arrrgh, I should have searched for "formatters", not for "default formatters" :(

[2015-09-24 11:58] #126 closed

[2015-09-24 11:59] nikowitt commented on #125
If you need additional code snippets, please let me know.

[2015-09-25 13:06] #125 closed

[2015-09-25 14:05] nikowitt opened #127 "Why is 'type' the scenario state fields default resolution?"
Hi Jan,

one question:
[code]
To me, resolution by name is a more intuitive default approach. May I ask why you decided to use type resolution as default?

Regards.
Niko

[2015-09-25 14:10] janschaefer commented on #127
It is the default that is typically used by injection frameworks like Spring or CDI, for example. I am also not that happy now about my own decision. However, it is now difficult to change that default behavior. One might think about a global configuration option to change that though.

[2015-09-25 16:04] #123 closed

[2015-09-26 12:48] nikowitt commented on #127
Okay, thanks for letting me now. In our testing environment, I've built default stages that provide common methods that are required for our applications. I will just set all default fields to name resolution, so other developers have to care less about annotations on fields they need in specific cases.

[2015-09-26 12:48] #127 closed

[2015-09-26 13:50] janschaefer commented on #107
I close this issue for now. Please reopen if it isn't solved for you.

[2015-09-26 13:50] #107 closed

[2015-09-26 15:19] #95 closed

[2015-09-26 21:11] #113 closed

[2015-09-28 10:01] nikowitt opened #128 "Parameters are formatted as "arg0" in HTML Report using Java 7"
Hi Jan,

on our build servers, we use Debian with
[code]

The parameters in the generated HTML report are formatted as arg0, arg1 etc - I thought that this is only a Java 8 issue with an old paranamer lib? Do you know what to do with Java 7? The "-parameters" flag does not exist/work here.

Thanks!
Best regards,
Niko

[2015-09-28 10:17] nikowitt opened #129 "HTML 5 report style feedback"
Hi Jan,

just my two cents about the HTML 5 report:
a) is it possible to customize the header "JGiven Report" in the HTML 5 report? I'd like to provide some additional build information.
b) when scenarios fail, is it possible to click the red spot on the status circle to directly see the failed scenarios?
c) is it possible to define some custom links in the the left menu? I'd like e.g. to provide

[2015-09-28 10:42] janschaefer commented on #128
This is actually strange. Which version of JGiven are you currently using?

[2015-09-28 10:45] janschaefer opened #130 "HTML5 Report: Make status circle clickable"
e.g. when clicking to failed the failed scenarios should be shown

[2015-09-28 10:46] janschaefer commented on #129
I assumed already that sooner or later the HTML report must become more customizable. The header will be easy. The links on the left a bit harder. Is there anything else you would like to have more customizable?

Regarding b) I created a new issue #130

[2015-09-28 10:47] janschaefer commented on #129
Let's also hijack this ticket to make the report more customizable (I changed the title)

[2015-09-28 11:11] nikowitt commented on #128
The latest one, 0.8.3, we've just updated this morning.

[2015-09-28 11:15] nikowitt commented on #129
Probably I will find more spots where customizations when the reports are used by more people in our company. I'll of course let you know as soon as more feedback is available.

[2015-09-28 11:19] nikowitt commented on #129
A quick solution for the links is to include some static link that refers to JS window.history.back().

[2015-09-28 13:34] janschaefer commented on #128
It actually might be the case when you compile your test classes without debugging information. e.g. `javac -g:none`

[2015-09-28 13:38] janschaefer commented on #129
I know ;-)

[2015-09-28 14:51] nikowitt commented on #129
Debug info is given, the stacktraces of failing tests contain line numbers.

Am 28. September 2015 15:38:44 MESZ, schrieb Jan <notifications@github.com>:

[2015-09-28 15:09] janschaefer commented on #129
Ok, maybe `-g:vars` is missing. I think by default `javac` has line numbers enabled, but variable names disabled. So you have to either use `-g` to enable all debugging information or `-g:lines,vars`. I need to document that.

[2015-09-28 16:10] #130 closed

[2015-09-28 16:14] janschaefer commented on #128
Ok, maybe -g:vars is missing. I think by default javac has line numbers enabled, but variable names disabled. So you have to use -g to enable all debugging information. I have to document that.

[2015-09-28 18:48] janschaefer opened #131 "HTML5 Report: make title configurable"

[2015-09-28 18:49] janschaefer commented on #129
Created #131 for the configurable title feature

[2015-09-28 18:50] #131 closed

[2015-09-29 05:53] nikowitt commented on #128
Works like a charm, thank you!

[2015-09-29 05:53] #128 closed

[2015-09-29 06:30] janschaefer commented on #128
Great :-)

[2015-09-30 04:24] janschaefer opened #132 "Examples: Create an example using CDI"

[2015-09-30 04:31] janschaefer commented on #129
Regarding the link thing. I am currently thinking about the best way such features could be implemented. One thing which come to my mind would be to allow the user to specify a custom Javascript file that is included in the report. Similar to the custom.css file. I would then provide a stable API that could be used by the Javascript file to customize the report. Something like:

[code]

It would e

[2015-09-30 04:50] nikowitt commented on #129
This is perfectly fine as this also makes the maintenance for multiple build easier. Additionally, it will give you a good handle to be able to deal with further customizations.

I then suggest to also make the title customizable via JS (as an alternative approach to set it via an --title as I saw in your recent commit).

Additionally, it is important is to be able to control the whole link proper

[2015-09-30 06:49] nikowitt opened #133 "Ability to set global prefix per class to scenarios"
Hi Jan, some more feedback.

There are lots of security tests implemented that extend from a base class that also contains scenarios, e.g. "Validate create access" which is then called in a QuestionSecurityTestSuite and a ResponseSecurityTestSuite.

In the report, it is now difficult to see which scenario belongs to which test as there are just several "Validate create access" scenarios listed. A

[2015-09-30 07:00] janschaefer commented on #133
That is an interesting suggestion. We also have a similar problem actually. The general problem is actually that one wants to group scenarios and give that group a name. The question is if the scenario should really be just prefixed or whether this should be a separate attribute of the scenario that could also be rendered differently in the report. It is somewhat similar to a tag with the exceptio

[2015-09-30 07:08] janschaefer commented on #129
I have implemented this feature now. Please have a look at the scenario test which describes it quite well (you can also open the screenshot to see how it looks in the report):

http://jgiven.org/snapshot/jgiven-report/html5/#/scenario/com.tngtech.jgiven.report.html5.Html5AppTest/navigation_links_of_the_HTML_report_can_be_customized_using_a_custom_JS_file

[2015-09-30 07:18] nikowitt commented on #133
Probably a separate attribute is indeed the better approach for this as it provides more possibilities to use this for other purposes. The scenario views should be then sorted by this attribute by default - when the attribute is not set, it will look like the "none" group by condition.

[2015-09-30 07:24] nikowitt commented on #129
It really looks great!

As already stated, the other common cases that already could be exposed via this API:
- title
- collapsed state of summary / tags / classes
- default sort by / group by/ status... of related views

[2015-09-30 19:16] janschaefer commented on #133
I implemented a first approach. Test classes can now have the `@As` annotation to give them a name. This name is then prefixed in the list of scenarios and can also be used to group them. I also changed the design of the group header. Let me know what you think:

http://jgiven.org/snapshot/jgiven-report/html5/#/all

[2015-10-01 04:18] nikowitt commented on #133
Looks great, it is exactly what I've expected. What is also important IMHO is that the Class Title is the default group condition.

[2015-10-01 05:57] nikowitt opened #134 "Ability to suppress parameters in case line when non-table report is rendered"
Hi, me again :)

Yesterday, I had a discussion with the test manager regarding the test cases, so I can share some more feedback.

The scenario contains a condition, so a non-table report is rendered, but each single case:
[code]

and so on. Something that caused confusion is that the params hat are included in the first line (e.g.   Case 2: question1 = 2.1/2, question2 = null, holders = 2.1/2.2,

[2015-10-01 06:29] janschaefer commented on #134
Interesting. I think it really depends on the concrete scenario whether you want them to be shown or not, so some kind of mechanism to configure that would be needed. Using the `@Hidden` annotation would definitely be an option.

[2015-10-01 06:36] janschaefer commented on #134
Btw. If you have other ideas to improve the way multiple cases are shown that are not using the data table, please let me know.

[2015-10-01 07:35] nikowitt commented on #111
Another idea which might help in this case is to provide a counter that shows the number of appended words/methods of a stage or to implement some isEmpty() flag per stage. This does not cover all cases (e.g the one you mentioned above), but it reduces condition checks in the test code itself.

[2015-10-02 05:01] janschaefer commented on #133
The more I use this new feature, the more I like it. I think this will be really useful. I like it so much that I now even generate a title for every class by using the class name and convert the camel case into readable text.

[2015-10-02 12:08] nikowitt commented on #133
This is indeed a good default value :)

[2015-10-02 12:21] nikowitt commented on #133
Is there a scheduled release date for 0.9? :)

[2015-10-02 12:42] janschaefer commented on #133
If you want I can publish a SNAPSHOT version with what is currently there. You could use this then by including the sonatype snapshot repository (`https://oss.sonatype.org/content/repositories/snapshots`)

[2015-10-02 13:30] nikowitt commented on #133
If it is not too much work for you, I'd be glad to be able to use that version in our environment.

[2015-10-02 13:37] janschaefer commented on #133
Done. (It is about as much work as writing this comment ;-))

[2015-10-02 13:37] janschaefer commented on #133
It is published under version 0.9.0-SNAPSHOT

[2015-10-02 14:19] nikowitt commented on #133
Thanks, Jan! Have a nice weekend!

[2015-10-02 15:06] janschaefer commented on #133
You are welcome!

[2015-10-02 21:29] janschaefer commented on #133
I have configured travis now to publish a snapshot version of every successful build from master.

[2015-10-03 06:12] nikowitt commented on #133
Even better :)

[2015-10-03 07:02] #133 closed

[2015-10-03 09:09] janschaefer opened #135 "HTML5 Report: enable additional configuration options in the custom.js file"
This is a follow up issue of (#129)
- collapsed state of summary / tags / classes
- default sort by / group by/ status... of related views

[2015-10-03 09:10] janschaefer commented on #129
I close this ticket now to get 0.9.0 released. I will provide additional configuration options with 0.9.1 (#135)

[2015-10-03 09:10] #129 closed

[2015-10-03 09:11] janschaefer commented on #122
I defer this to v0.9.1

[2015-10-03 09:20] janschaefer commented on #111
I think the most simplest implementation would be to provide an attribute to `@IntroWord` where you could specify the text for the first occurrence and/or of a word and the following ones. Something like:

[code]

[2015-10-03 12:46] nikowitt commented on #111
Sounds good, as long as this can be provided to the static given(), when(), then() - but probably I can just extend from a JGiven scenario class, "override" the static methods to just use another @IntroWord as the givenOrAnd() is most likely the default in our cases.

[2015-10-04 15:46] janschaefer opened #136 "Offer ability to group tags with values"
Currently it is not possible to group tags that have the same name but different values, depending on the value. E.g. one might want to structure the tags `Issue-121` and `Issue-122` under a tag `Release-0.9.0`.

[2015-10-04 20:11] janschaefer commented on #53
As alternative: http://kiro.me/projects/fuse.html

[2015-10-05 06:14] nikowitt commented on #113
Could you please provide an example for that? Currently, my formatters all implement ArgumentFormatter, but not Formatter. Is there a way to also define the ArgumentFormatters as default?

[2015-10-05 06:18] janschaefer commented on #113
Yes. `ArgumentFormatter` makes no sense in this case as you cannot give additional arguments to the formatter. However, you could, for example, annotate the parameter with additional annotations and evaluate these. Simple example:

[code]

[2015-10-05 06:30] nikowitt commented on #113
OK, so in order to avoid dupe formatting logic for default formatters that don't rely on anything else, my current ArgumentFormatters should also implement Formatter, so I can provide a private common formatter method.

[2015-10-05 06:38] janschaefer commented on #113
Yes.

[2015-10-05 06:49] nikowitt commented on #113
OK, something I just discovered: I expected the default formatters to also format all subclasses of a given class. For instance, I want to provide a default enum formatter, so I provided

[code]

(I hate this kind of generic handling!)

But here, I need to provide all concrete enum implementations which is not a very good idea.

[2015-10-05 07:04] janschaefer opened #137 "Global formatters should be applied to subclasses"
See discussion in #113

[2015-10-05 07:05] janschaefer commented on #113
Yes you are actually right. I haven't thought about that. I created a ticket for that (#137)

[2015-10-05 21:05] #137 closed

[2015-10-05 21:07] janschaefer commented on #137
@nikosgraser this is fixed now. It turned out to be actually difficult to implement. You can test it with the 0.9.1-SNAPSHOT version.

[2015-10-05 21:10] janschaefer commented on #113
I have implemented the feature. I turned out to be more difficult than expected. You can test it now with 0.9.1-SNAPSHOT.

[2015-10-06 07:08] nikowitt commented on #137
Works perfectly, thank you!

[2015-10-06 12:01] adrian-herscu opened #138 "testng reports failing jgiven test cases as passing"
Given a TestNG-based test with a data provider
And the data provider provides at least two cases
And one case fails
When running the test
Then the TestNG report should contain one failed case

Instead all tests cases are reported as passing.
This behavior is since version 0.8.3.

[2015-10-06 14:59] janschaefer commented on #138
So the TestNG report is wrong, but the JGiven report is correct?

[2015-10-06 17:40] adrian-herscu commented on #138
Yes the JGiven report is correct but the TestNG report is wrong.
This has further implications. When running  under Maven the build status is always successful. When this happens under a CI server then not failure notifications are sent.

[2015-10-06 19:52] #138 closed

[2015-10-06 19:54] janschaefer commented on #138
I actually introduced the bug when I fixed #123. Too bad that my test did not test the TestNg status, but only the JGiven status :-(
The bug is fixed now in the 0.9.1-SNAPSHOT version.

[2015-10-06 20:01] janschaefer commented on #138
I back ported this fix to 0.8.x and will release a 0.8.4 version with that fix

[2015-10-06 20:13] janschaefer commented on #138
0.8.4 is released with this fix

[2015-10-06 20:24] janschaefer commented on #138
Due to the severity of the issue I also released v0.9.1 with this fix

[2015-10-07 08:58] Rubbiroid opened #139 "Add possibility to define test-case name"
Hi,

if you use JGiven  use dataprovider to supply test cases, you may want to have a test-case description. Right now it can be done by calling an own method like given().the_test_case_is( description ), which is not a good solution IMHO.
Can you please provide a possibility to define a description of a test case? E.g. via special annotation of a test function argument.

Best regards,
Pavel

[2015-10-07 09:44] janschaefer commented on #139
This goes into a similar direction as #134 and is actually a generalization of it.

[2015-10-07 10:43] janschaefer commented on #134
What do you think about #139?

[2015-10-07 15:48] adrian-herscu opened #140 "duplicated parameter column"
I have a test written as follows:

        when().creating_property_request(request)
                .and().getting_request_status();
        then().the_last_submitted_request_contained(request);

The method signatures are defined as follows:

    public SELF creating_property_request(final PropertyCreationRequest request)
    public SELF the_last_submitted_request_contained(final PropertyCreation

[2015-10-07 15:57] adrian-herscu opened #141 "reports containing long values are unusable"
I need to test that some service accepts 4000 characters.

In such case, the resulting report becomes unusable because of the amount of horizontal scrolling needed to read the test case statuses (which appears as last column in the test cases table).

I solved this momentarily, by formatting the test parameters such as excessive text is truncated. However, this solution is not ideal, because one c

[2015-10-07 16:16] janschaefer commented on #140
The expected behavior would be that if the String representation is identical then also only one column should be generated. It should not matter whether a formatter was used or not. Can you provide a small self-contained test that reproduces the problem?

[2015-10-07 16:17] janschaefer commented on #141
Sounds like a useful feature :-)

[2015-10-09 08:11] nikowitt opened #142 "Create multiple tables instead of splitting into several scenarios"
Hi Jan,

a tricky one regarding several scenarios. The example is probably not the best one, but you definitely get the idea.

[code]

produces the output

[code]

In this case, it would be great if JGiven recognizes (or maybe provide a ability to control this) that it makes more sense to create two tables (or in this case, single case 1 and one table with cases 2-4).

Maybe this is too tricky as

[2015-10-09 09:06] janschaefer commented on #142
Hi Niko,
that is indeed quite tricky and become arbitrary complex. I already have implemented a mechanism that tries to find the differences of different cases and highlight them in the HTML report. You may check if this is really the case for your example, but I know that it sometimes does not work correctly.
I could check whether it is easily possible to identify if multiple cases are really ide

[2015-10-09 09:09] nikowitt commented on #142
I'd expected that :)

My current workaround is to extract the scenario itself in a sub routine and then to provide multiple tests with different @DataProviders where I know that the cases are similar that run the subroutine.

So instead of doing an automatic parsing, some manual ability to group/flag cases is not the worst idea :)

[2015-10-09 09:11] janschaefer commented on #142
Yes, this is also what we do in these cases :-). An advantage of this approach is also that you can give the groupings its own name.

[2015-10-09 14:59] janschaefer commented on #134
I close this as #139 completely covers this case.

[2015-10-09 14:59] #134 closed

[2015-10-09 15:03] #139 closed

[2015-10-09 15:09] janschaefer commented on #139
@nikowitt this feature is now implemented. It would be cool if you could shortly test it on your side and tell me what you think. You use the feature by adding the ~@CaseDescription` annotation to the test method. With the value of the annotation you can specify the description. You can use the placeholders to insert parameter values. In the following example, I provide an additional value that is

[2015-10-09 15:52] nikowitt commented on #139
Sounds really cool - I will test this on Tuesday when I return to the office ☺

Am 9. Oktober 2015 17:09:48 MESZ, schrieb Jan <notifications@github.com>:

[2015-10-09 15:53] janschaefer commented on #139
Sure :-)

[2015-10-12 08:12] nikowitt commented on #139
OK, I've just tested it - is pretty fine for my cases. Something that is worth discussing is what happens if @CaseDescription is used and no @DataProvider is used. In this case, I expect the description to be displayed somewhere in my report even though it actually makes no sense to use the @CaseDescription here.

[2015-10-13 06:13] nikowitt commented on #139
Some more feedback: In our history test, we want e.g. to include the return type of the field to be tested. The @DataProvider only contains the name of the field, but the actual type is determined at test runtime. Maybe it is also possible to be able to reference test scenario variables in @CaseDescription?

[2015-10-13 10:13] janschaefer commented on #139
Mmh, I do not completely understand that. What do you mean by scenario variables? Could you make a short example?

[2015-10-13 10:17] nikowitt commented on #139
Sure:

[code]

The issue why I cannot provide -SumaHistoryTestSteps.getReturnType();- in the DataProvider is that for this, the Spring context is not provided yet, so the value can only be calculated in the scenario itself.

[2015-10-13 10:25] janschaefer commented on #139
I think in this case it should be possible to do the following:

[code]

does that work?

[2015-10-13 11:26] nikowitt commented on #139
Yes, works perfectly :)

[2015-10-15 09:07] mgehlen opened #144 "attachments start with attachment0 for each test class"
Hi,

I have now switched my mobile end-to-end tests completely to using BDD with JGiven and Appium as the actual test automation driver. I use testNG as a test runner and I separate my TestClasses alongside features.

My general structure is as follows:

[code]

MobileScenario uses testNG Dependency Injection to fetch the test configuration from maven ( i.e. test android or ios, which activity to

[2015-10-15 09:19] mgehlen opened #145 "add inline screenshots for each data set into the report"
Hi,

I combine testNG data sets with screenshots added to the reports, for more details on my screenshoting you can see another issue: #144 .

I figured that I can add screenshots inline to the report, which I want to use. When I combine this with testNG data providers I get the following result:

*  data provider with 4 data sets
* screenshot for first data set is added twice
* screenshots for th

[2015-10-15 10:05] janschaefer commented on #144
that is definitely a bug. Thanks for reporting!

[2015-10-15 10:06] janschaefer commented on #145
Pretty much sounds like a bug. Thanks for reporting!

[2015-10-15 10:06] janschaefer commented on #145
One question: are you executing the cases in parallel?

[2015-10-15 10:12] janschaefer commented on #144
Using withTitle for the filenames might not be that good, because I would have to escape/replace all special characters.

[2015-10-15 10:14] janschaefer commented on #144
I could introduce a new method `withFilename` if you think that this would be useful in your case.

[2015-10-15 11:35] mgehlen commented on #144
thank you for the quick response - if my understanding is correct withFilename ist a very good way for me to go.

[2015-10-15 11:36] mgehlen commented on #145
thanks for the quick reply - I am not running tests in parallel at the moment.

[2015-10-15 11:38] mind-blowing commented on #144
Hi,

Maybe it's better to use name of the test class (with package, for example com/example/TestClass/attachment0.txt) as sub-folders for grouping attachments, what do you think about this?

I have same problem, but in my case I'm using attachment to show all default application settings, so I have step "Given default settings" with "text" attachment to show 30+ settings and in this case usage of

[2015-10-15 11:42] mind-blowing commented on #144
By the way, "withFilename" is also nice to have, in this way we can give user-friendly name for attachments (considering that it must be unique in scope of one test class).

[2015-10-15 12:27] nikowitt opened #146 "Allow javascript links in JGiven menu links"
Hi Jan,

I've just implemented custom links in the reporter, one containing "javascript:window.history.back()". It seems that javascript explicitely has to be whitelisted in AngularJS (https://stackoverflow.com/questions/15606751/angular-changes-urls-to-unsafe-in-extension-page), so is it OK for you to do this?

Best regards,
Niko

[2015-10-15 15:46] janschaefer commented on #144
Yes. By default a unique name for the attachments. Using subfolders would be an option. The `withFilename` would be optional.

[2015-10-15 15:47] janschaefer commented on #145
Ok. Then it is at least no multi-threading issue.

[2015-10-15 16:04] janschaefer commented on #145
I tested the issue and it is now clear to me what the problem is. The main problem is that JGiven tries to generate a data table. In fact it should print each case separately.

[2015-10-15 16:23] #145 closed

[2015-10-15 17:36] janschaefer commented on #146
I think this shouldn't be a problem, as you yourself are completely responsible for what you configure ;-)

[2015-10-15 18:00] #146 closed

[2015-10-15 19:02] #144 closed

[2015-10-16 09:36] nikowitt opened #147 "Convert snake case in parameter names"
Hi Jan,
[code]
I think it makes sense that snake cased params are also converted (_ replaced by blank), so the report looks like
[code]

instead of
[code]

What do you think?

[2015-10-16 16:41] janschaefer commented on #147
Makes totally sense.

[2015-10-20 06:56] nikowitt opened #148 "Final step methods not working"
Hi Jan,

I've just discovered that it is also not possible to properly use final step methods - in my case, it looks like this:

[code]

When I supply an enum, the second method is used for formatting, the first (correct) method is not used. When I remove the "final" modifier, everything works as expected. Is this a bug or a CGLib limitation, so it should be documented?

Regards,
Niko

[2015-10-20 08:13] janschaefer commented on #148
Yes that is completely right. This is a feature of Java ;-). But I will extend the documentation accordingly.

[2015-10-20 08:14] #148 closed

[2015-10-20 08:34] nikowitt opened #149 "Clicking the status doughnot does not work when the report has just been opened"
Some small bug I've just discovered:

When I directly click the doughnut as soon as the report is opened, the links do not work (index.html#?status=fail and index.html#?status=success).

But once I've navigated to some scenarios via the left menu, return to the welcome page and click the doughnut, the links work.

[2015-10-20 08:38] nikowitt opened #150 "Failing test case of a scenario is not highlighted"
Hi Jan,

some more feedback:

In my scenario with 5 cases, one case (case 4) fails, but I don't know which one without checking all cases. I think it makes sense to automatically expend the cases that don't work or somehow highlight them.

![untitled](https://cloud.githubusercontent.com/assets/1472328/10602069/7cee561a-7716-11e5-9331-55dadbce4a4d.png)

If you need additional information that I can

[2015-10-20 08:41] janschaefer commented on #150
You have a point ;-)

[2015-10-20 08:45] nikowitt commented on #148
It's a pity since it makes sense to make some wrapper methods final, but very well :)

So this means CGLib cannot intercept final methods or is this a generic Java thing?

[2015-10-20 09:02] janschaefer commented on #148
In order to intercept the method, cglib (and any other framework) has to override the method. This is forbidden by the definition of `final`, so it is not possible to intercept these methods (similar to `private` methods).

[2015-10-20 10:15] nikowitt opened #151 "Suppress tests that don't have any stages?"
Hi Jan,

currently, we have got test classes that extend from a JGiven scenario and are therefore considered in the report (I assume that this is the condition) with both JGiven styled tests and lots of old styled tests with no given-when-then convention. In the report, the title of these old style tests is printed.

Shouldn't it be possible to exclude these tests automatically from the report as

[2015-10-20 19:31] janschaefer commented on #149
I am currently completely rewriting the HTML report. I will fix that issue with the rewrite.

[2015-10-20 19:39] janschaefer commented on #151
One could maybe add some flag to automatically exclude scenarios without any steps. I wouldn't like to do this by default, because it might be confusing. But in a mixed scenario like yours it would be useful. Maybe the best place for this would be the report generator.

[2015-10-21 11:57] nikowitt opened #152 "New lines in toString mess up tabled scenario"
Hi Jan,

a small one:

Test Class: com.sobis.jaf.tests.tools.antisamy.AntiSamyTest

 Scenario: check that result is not modified

   Given input string <input>
    When antisamy validates input with policy "allow html"
    Then output is not modified

  Cases:
[code]

It might make sense that there is the possibility to escape new line characters to not mess up a table, what do you think?

Regards

[2015-10-21 12:02] janschaefer commented on #152
In general it should be fine to use newline characters in values. The table output should be fixed instead :-)

[2015-10-28 09:50] adrian-herscu opened #154 "exception type not shown in the report"
Given JGiven version 0.9.3
And a test failing with an exception or on timeout
When the test is executed
Then the report does *not* contain the exception type (that is the failure reason)

Example:

    @Test(timeOut = 1000)
    public void shouldFailOnTimeout() throws Exception {
        when().$("sleeping too much", //$NON-NLS-1$
                new StepFunction<When<Any, ?>>() {

[2015-10-28 10:08] adrian-herscu opened #155 "duration of test execution with multiple cases is incorrect"
Given JGiven 0.9.3
And a test with multiple cases
When running the test
Then the report contains the duration of the first case

Example:

    Generic Rest Client Should search on google 2  (1.004s)
    Given	a REST client (103ms)
    When	connecting to http://www.google.com
    And	setting <searchTerm> into query param q
    And	getting the response (615ms)
    Then	the response contains <respons

[2015-10-28 10:12] adrian-herscu opened #156 "status of test with one failed case is reported as failed"
Given JGiven 0.9.4
And a test with multiple cases
And at least one case fails
When running the test
Then the test is report as FAILED

I would expect it to be PARTIALLY FAILED with x failing cases out of n.

[2015-10-28 11:38] janschaefer commented on #156
I agree. I actually had that already on my internal list ;-)

[2015-10-29 07:09] nikowitt opened #157 "Blank value is not formatted"
Hi Jan,

[code]

The last called method
[code]
The formatter @NotSetIfNull on object "value" covers null values. I've just tried to extend the formatter to cover blank values, but it seems that blank values are not covered at all, even though the formatter triggers properly and returns a formatted value for a blank value.

[2015-10-31 07:14] janschaefer commented on #157
True. That seems to be a bug.

[2015-10-31 07:30] #157 closed

[2015-10-31 11:13] #151 closed

[2015-10-31 11:38] #155 closed

[2015-10-31 13:16] janschaefer commented on #140
@adrian-herscu do you have an update on this issue?

[2015-10-31 15:18] #147 closed

[2015-10-31 15:36] #150 closed

[2015-10-31 16:00] #156 closed

[2015-10-31 16:08] #149 closed

[2015-10-31 16:21] #141 closed

[2015-10-31 18:40] adrian-herscu commented on #140
Sorry, couldn't find enough time to deal with it. Meanwhile, it is no issue for me.

[2015-10-31 23:14] janschaefer commented on #140
Ok. Then I close the issue for now.

[2015-10-31 23:14] #140 closed

[2015-11-03 07:58] girardot opened #160 "In the report if two parameters has the same value then they are merged in a single one. Is it normal behavior ?"
As we can see in the following report the **expectedFruitType** parameter has disappear in the report :

Example :
[code]
Give the report : (without **expectedFruitType**)
[code]

Working sample with two different parameters :
[code]

Give the report : (with **expectedFruitType**)
[code]

[2015-11-03 08:16] girardot opened #161 "In the report not only parameters appear in cases section but also a list parameter of a stage method"
In the report of this sample the **discount periods** (simple POJO object list) appear in cases section like that :
**bdd.model.DiscountPeriod@45f45fa1, bdd.model.DiscountPeriod@4c6e276e**

DiscountPeriod list is not a parameter of the test, so it seems strange that it appears in the report.

[code]

[code]

Give the report :
(with discountPeriods bdd.model.DiscountPeriod@45f45fa, bdd.model.Discou

[2015-11-03 11:06] janschaefer commented on #161
Yes, I agree that should not be the case. It is a bit related to #86.

[2015-11-03 11:10] janschaefer commented on #160
Yes, this is expected behavior and in fact a feature of JGiven :-). The concrete parameters of the method itself are irrelevant to JGiven. JGiven instead compares all cases and after all cases have been executed and derives the parameters. If two parameters are equal in all cases they are merged to a single one. This in general also what you want in practice. It is confusing IMO if you have two pa

[2015-11-03 11:10] #160 closed

[2015-11-03 14:11] janschaefer opened #162 "@Table does not work for primitive arrays"
[code]

[2015-11-03 14:37] #162 closed

[2015-11-03 16:37] girardot commented on #161
Thank you for your quick answers.

Correct me if I am wrong but the difference between the two issues is :
- In #86 in seems that we want **different values** for the table parameter.
- In this particular case #161 we want just a list of **fix values**  for the table parameter, so fix values should not appear in the report cases part.

[2015-11-03 18:37] janschaefer commented on #161
Yes, I agree they are completely different. They only both have to do with the `@Table` annotation

[2015-11-04 08:07] janschaefer commented on #161
I reopend this issue, because the fix might actually be more difficult than I first expect.

[2015-11-04 08:09] janschaefer commented on #161
If you do not implement the equals method and create a different object in each case, than it is difficult for JGiven to find out whether the values are actually the same between each run. If they are not the same, however, JGiven has to create multiple cases for that. I will have to think about that issue a bit more, I guess :-)

[2015-11-04 14:21] nikowitt opened #163 "Parameter unexpectedly appears in two columns"
Hi Jan,
[code]

renders

[code]

Since the same field "userName" is used in the test method signature and the formatting of the fields is the same (@Quoted), I expect userName2 to not appear at all.

Best regards,
Niko

[2015-11-04 15:02] janschaefer commented on #163
Hi, yes that is a known issue, but a complete example was missing to reproduce it (#140). I will have a look.

[2015-11-05 06:28] janschaefer commented on #163
The good news is, I can reproduce the problem and also found the reason for the problem. The bad news is, it is not very is to fix. In fact, I will have to rewrite a large portion of the algorithm that determines which arguments can be merged to the same parameter. The problem is the `@Quoted` annotation. In fact, any formatting applied to step arguments will prevent these arguments to be merged t

[2015-11-05 06:46] nikowitt commented on #163
I can confirm that it works fine when I remove the @Quoted parameter.

[2015-11-06 07:40] girardot commented on #161
Ok I understand the point with equals method, we will do that, thank you.

[2015-11-06 10:11] alvinuk opened #164 "allow camel case as well as underscore for step methods"
Scenarios allow camel case in the name is it possible to allow the same for step methods?

[2015-11-06 14:33] janschaefer commented on #164
should be possible :-)

[2015-11-07 19:45] #163 closed

[2015-11-08 20:32] #161 closed

[2015-11-08 20:33] janschaefer commented on #161
I fixed the issue now. It is not even necessary anymore to implement the equals method as JGiven takes the content of the table directly for comparison.

[2015-11-10 20:15] albertofaci commented on #164
PR #165 has been submitted to implement this issue

[2015-11-10 20:19] #164 closed

[2015-11-11 07:39] nikowitt opened #166 "Brainstorming: How to handle consecutive steps scenario"
Hi Jan,

currently, I'm trying to create a table based scenario that depends on consecutive steps:

[code]

When everything is fine and no errors are raised, I can create the following output:

[code]

This is a much better approach than to create a when/then for every case as the scenario grows pretty fast as soon as one additional case is added.

But of course, this way, an error case cannot be

[2015-11-11 11:13] janschaefer commented on #166
A simple solution would be to add an index to the rows and add a custom error message to your assertion message. Then at least you should be able to correlate the error with the row.

[2015-11-11 11:58] nikowitt commented on #166
Oh yes, you are right :)

[2015-11-11 12:05] nikowitt commented on #166
Interesting, adding "numberedRows"=true throws an Exception in my case:
[code]
This is probably related to my Object[][]?

[2015-11-11 12:08] janschaefer commented on #166
Oh. That can be regarded as a defect :-(

[2015-11-11 12:27] janschaefer opened #167 "Maven Plugin: Custom CSS file is taken the JS file paramter"
When using the maven plugin, the customJsFile parameter actually sets the custom CSS file, making it also impossible to set the customJsFile parameter correctly

[2015-11-11 12:30] #167 closed

[2015-11-11 12:34] nikowitt commented on #166
I've encountered another issue: I'm using assertions that are not thrown and cannot be intercepted properly in the loop. My idea then is to set a flag on the Object[][] (just add another column "processed" with value "false" by default and after the loop, the column is set to "true"), but it seems that changes on the object that are done in the method itself are not reflected when the object is fo

[2015-11-11 13:11] janschaefer commented on #166
That is a limitation, because the table is copied internally when the step is executed. I think this is not possible to change.

[2015-11-11 14:39] nikowitt commented on #166
Oh, what a pity. Then I have to check how to catch the assertions properly.

[2015-11-11 14:40] nikowitt opened #168 "Additional grouping of big tables"
And again :)

Test Class: com.sobis.pirsjava.tests.security.IKeywordSecurityTest

 Scenario: create keyword

   Given logged in user <userName>
    When user creates entity <clazz>
    Then jafaccessdeniedexception <isExceptionThrown> thrown

  Cases:
[code]

It would be great if it is possible to define a parameter to perform a grouping, wouldn't it? :)

[2015-11-11 19:58] janschaefer commented on #168
While this might be possible, I am not sure whether this is the best thing to do. What about splitting the scenario in multiple ones? Then you could give each scenario a meaningful name to group the cases.

[2015-11-11 20:21] #166 closed

[2015-11-11 20:24] janschaefer commented on #166
A possible solution would be that you print the whole table again when an assertion fails. Then you can mark the corresponding line.

[2015-11-12 04:19] nikowitt commented on #168
The only solution then is to group the scenario by users as the classes are scanned automatically. I'd hoped that I'd be able to not split the dataprovider one more time, but probably you are right and this is the easiest solution.

[2015-11-12 06:10] nikowitt commented on #168
Hm, in this particular case, I'd have to split one test into 4 tests and since this a crud test, there would be 16 tests instead of 4 - pretty verbose IMHO.

[2015-11-12 08:00] nikowitt commented on #166
One more question related to that topic: in a test step, I sometimes call further test steps that also could be invoked directly via given(), when(), then(). Is my assumption correct that in these cases, exceptions are not thrown, but the interceptor instead stops directly?

[2015-11-12 09:39] janschaefer commented on #166
There should actually be no difference how you invoke the steps. In any case the exception is first captured by the interceptor, then the following steps are executed in a special skip mode and at the end the captured exception is thrown.

[2015-11-12 11:08] mind-blowing opened #169 "Spring Boot with @WebIntegrationTest and Parameterized Tests"
Hi,

I'm using JGiven for integration tests with Spring Boot ```@WebIntegrationTest```, it works fine when I'm using  annotation ```@RunWith(SpringJUnit4ClassRunner.class)```, but I also need to have possibility usage of Parameterized Tests and I can't use them because ```@RunWith``` already used with ```SpringJUnit4ClassRunner.class```.

I saw in spring framework reference documentation that it's

[2015-11-12 11:11] janschaefer commented on #169
You may have a look at https://github.com/TNG/junit-dataprovider/wiki/Tips-and-Tricks#dataprovider-for-spring-integration-testing

[2015-11-12 11:12] mind-blowing commented on #169
Thanks a lot, I will try.

[2015-11-12 11:14] janschaefer commented on #168
What would be your suggestion?

[2015-11-12 11:41] mind-blowing commented on #169
It works, thanks again for help.

[2015-11-12 12:04] nikowitt commented on #168
Maybe to define an annotation where a field name can be supplied that will be then used for the additional grouping?

[2015-11-12 12:41] #169 closed

[2015-11-12 20:32] #152 closed

[2015-11-12 20:58] janschaefer commented on #168
Ok, but how should the grouping actually look like in the report?

[2015-11-13 04:52] nikowitt commented on #168
Good question
Maybe for text, something like (when clazz was selected).

By stripping the redundant content, the large table is much easier to read.
[code]
In the html5 report, the grouping could be collapsible.

[2015-11-13 07:40] nikowitt commented on #166
Let me explain my issue with more details:

In addition to the intial post:
[code]

This is the original approach that does not work.

Checking more closely:

[code]

This method is actually only a wrapper for a technical test. The method is also directly usable in a technical then step.

[code]

The assertThat failure is not thrown, but intercepted as explained by you. When I directly replace the

[2015-11-13 16:26] janschaefer commented on #166
I have to check the code, but as far as I know, exceptions should only be captured on the outer calls of step methods and not on the inner ones. If this is not the case, this can be easily fixed. Which also would totally make sense.

[2015-11-14 07:11] janschaefer commented on #75
Will not be done.

[2015-11-14 07:11] #75 closed

[2015-11-14 09:29] #60 closed

[2015-11-23 07:31] nikowitt opened #170 "Figure out from which stage a method was called?"
Good morning,

is it possible to figure out from which stage a particular method was called? From the stacktrace itself, I cannot see if a method was invoked from given(), when() or then(). Since there are some method names (e.g. entity_is_deleted()) that basically need to invoke different logic depending on the stage they are called (in my case, given/when triggers an action whereas then is suppo

[2015-11-23 08:26] janschaefer commented on #170
No this is impossible, I think. Why don't you just use two different stage classes?

[2015-11-23 08:30] nikowitt commented on #170
The problem is that these are methods that are included in a common stage collection that can be used in either scenarios or simple scenarios, so I cannot do this without adding configuration complexity (I wanted to avoid).

All right, I will then try to work on the names of the methods.

Thanks again!

[2015-11-23 08:30] #170 closed

[2015-11-23 10:14] nikowitt opened #171 "Tags from classes are not recognized in inherited methods"
Hi Jan,

[code]
This test extends from the abstract class RfqRelatedReadSecurityScenarioTest.

[code]

All methods are only with the class related tag, so tests that are defined in ReadQuotationSecurityTest directly receive @TagAsQuotationInReport, tests from the abstract class only receive @TagAsSecurityInReport. I think it makes sense that all tags of the whole class hierarchy are considered so

[2015-11-23 11:05] janschaefer commented on #171
Have you added the `@Inherited` annotation to your tag annotation?

[2015-11-23 11:44] nikowitt commented on #171
Damn. :(

[2015-11-23 11:46] janschaefer commented on #171
;-)

[2015-11-25 07:36] nikowitt commented on #171
Works fine :)

[2015-11-26 16:24] nikowitt commented on #171
Okay, sorry to say that the feedback I gave was wrong. The @Inherited does not seem to work. I've just adapted the inital post. All tests in the abstract class do not receive the tags, test in the ReadQuotationSecurityTest class itself receive both tags.

[2015-11-27 19:22] janschaefer commented on #171
That is strange. I cannot reproduce it.

[2015-11-28 07:24] nikowitt commented on #171
I will provide a full example on Monday.

[2015-12-03 20:12] janschaefer opened #172 "Adding tags dynamically"
It might sometimes be useful to add tags dynamically to scenarios

[2015-12-03 20:14] janschaefer opened #173 "Exceptions in substep methods should not be captured"
Given the following step definition:
[code]
When `some_sub_step` throws an exception
Then the exception is captured by JGiven

Expected behavior would be to only capture exception on top-level steps.

[2015-12-04 04:09] nikowitt commented on #171
Sorry, wasn't able to spend time on this subject. I will do this ASAP.

[2015-12-07 07:41] janschaefer commented on #17
Thank you for starting this long-wished feature :-). On a first glance it looks pretty good. I will give you more feedback as soon as possible.

[2015-12-07 09:23] albertofaci commented on #83
This feature would be brilliant.
For the moment one of the things we're thinking about is this:

[code]

where

[code]
and every method in _MyCustomerBuilder_ appends something to a StringBuilder and then the _toString()_ method collates it to be displayed in the report. It's a bit rudimentary but looks nice.

The problem is in parametrised tests, where the whole builder is put in the table as a m

[2015-12-11 21:54] janschaefer commented on #173
Is fixed with 84a8e4a5a9c18a84df23b0582800d656eeea58af

[2015-12-11 21:54] #173 closed

[2015-12-12 09:00] #17 closed

[2015-12-12 10:31] #122 closed

[2015-12-16 08:13] nobeh commented on #76
I think it's worth it to include this as part of official documentation.

[2015-12-16 08:16] janschaefer commented on #76
I agree

[2015-12-16 11:12] janschaefer commented on #76
Done: http://jgiven.org/docs/exceptions/

[2015-12-16 14:08] nobeh commented on #76
:+1:

[2015-12-18 12:40] mgehlen opened #176 "JGiven Reports in Jenkins not visible with Content Security Policy"
Hi,

we have integrated JGiven into our builds and everyone really loves the reports. :+1:

"Unfortunately" the Jenkins in our company has been updated and now enforces Jenkins Content Security Policy quite strictly, see here: https://wiki.jenkins-ci.org/display/JENKINS/Configuring+Content+Security+Policy

Since this I cannot watch the JGiven Reports on our Jenkins, neither with the JGiven Plugin

[2015-12-18 14:37] janschaefer commented on #176
The JGiven HTML report heavily relies on Javascript. There has been an older report some versions ago that was more static, but even that one used Javascript. However, if this turns out to be a major blocking issue to use JGiven on Jenkins, one might think of writing a simple HTML report that does not use Javascript at all.

[2015-12-18 14:40] janschaefer commented on #176
@wolfs what is your opinion about this?

[2015-12-19 09:33] janschaefer commented on #176
I haven't used the Jenkins security policy yet, but it seems that you can configure certain exceptions from the strict rules for certain plugins. Maybe you can convince your company to relax the rules for the JGiven plugin?

[2015-12-19 10:06] janschaefer commented on #171
any updates on this ;-)

[2015-12-19 10:08] nikowitt commented on #171
Not yet, I'll do my best to do this the next week - I try to provide a streamlined example as our current environment is pretty complex :)

[2015-12-19 10:47] janschaefer commented on #171
no problem, I just wanted to know whether this is still an issue or not.

[2015-12-19 11:08] #154 closed

[2015-12-19 11:19] janschaefer commented on #168
Is it really important for you to have the grouping in the text report? Otherwise this could be just implemented in the HTML report and there would be no need for additional annotations.

[2015-12-19 12:22] nikowitt commented on #168
It would be perfectly fine if this is possible in the HTML report.

[2015-12-19 12:29] janschaefer commented on #168
ok, great. That simplifies the solution :-)

[2015-12-20 02:10] wolfs commented on #176
With the default content security policy in place you will not be able to see the html5 report. If you want to see it in Jenkins you will need to relax the content security policy.
You can still download the report as a zip file and then see it on your local machine.

[2015-12-20 16:19] #168 closed

[2015-12-20 16:45] janschaefer commented on #168
I implemented this now in the HTML Report, you can have a look how it looks like here:

http://jgiven.org/snapshot/jgiven-report/html5/#/scenario/com.tngtech.jgiven.impl.ScenarioExecutorTest/step_methods_can_have_primitive_arrays_as_parameters

[2015-12-21 04:00] nikowitt commented on #168
Looks really fine to me, thank you!

[2015-12-21 11:56] janschaefer commented on #122
Ok, after some iterations on this issue, I think it is usable now. It is now possible to combine the `@Table` annotation with formatters and JGiven will then use the given formatter to format the objects. You can also completely customize the formatting by using the `formatter()` or `rowFormatter()` attribute of the `@Table` annotation.

[2015-12-21 12:36] mgehlen commented on #176
Hi,

yes, I am also trying to have the Jenkins configured so that the reports work again. I just wanted to give you a heads up, because this might not be an option for everyone ... and I thought it safer to tackle this issue from both sides ;-)

Best regards,

  mgehlen

[2015-12-21 12:39] janschaefer commented on #176
Yes, definitely. Thanks for reporting this issue.

[2015-12-21 14:22] nikowitt commented on #171
Hi there,

I was finally able to create a test case.

The test class that is executed:

[code]

The abstract scenario consists of

[code]

When the non abstract test suite is invoked, the following json is created:
[code]

What I expect is that all tests are tagged with @TagAsSecurityInReport and @TagAsQuotationInReport.

The two tags:

[code]

[code]

Hope this helps to track down the issue.

Bes

[2015-12-21 14:23] nikowitt commented on #171
Please find attached the interesting files.
[files 171.zip](https://github.com/TNG/JGiven/files/68559/files.171.zip)

[2015-12-21 14:45] janschaefer commented on #171
Ok, perfect, I can reproduce it now :-)

[2015-12-21 15:09] #171 closed

[2015-12-22 06:37] nikowitt commented on #122
Looks really cool at a first glance when I check the commit. Is there a short documentation with example for this that I can distribute to my colleagues?

[2015-12-22 10:34] janschaefer commented on #122
There is no documentation yet (next on my list). However, it should be more or less straightforward. You have now different options to customize the table formatting.

## Using `formatter()`
If you want to completely define your own table formatting, you use the `formatter()` attribute. There you specify a [TableFormatterFactory](http://jgiven.org/javadoc/com/tngtech/jgiven/format/table/TableForma

[2015-12-22 11:21] nikowitt opened #177 "Unable to use CaseDescription when param contains reserved regexp character"
Hi Jan,

[code]

returns an error:
[code]

So an additional escape for params is required.

[2015-12-22 11:40] janschaefer commented on #177
Ah, this is a classic. I fall into this trap already. I forgot to call quoteReplacement on the argument.

[2015-12-22 11:41] nikowitt commented on #177
Hehe, so did I :)

[2015-12-22 11:49] nikowitt opened #178 "\r in toString mess up tabled scenario"
Hi Jan,

[code]

results in:

[code]

For \n, it is already fixed, but Windows users frequently encouter \r where the same should be applied.

[2015-12-22 11:52] janschaefer commented on #178
I agree :-)

[2015-12-22 12:01] janschaefer commented on #177
This is an ideal use case to try out property based testing :-)

[2015-12-22 13:23] #177 closed

[2015-12-22 14:21] #178 closed

[2015-12-23 06:07] nikowitt commented on #178
Just tried again with the snapshot:

[code]

Better, but not still not perfect :)

[2015-12-23 06:16] janschaefer commented on #178
Yes. I have not handled the case of a single carriage return. Do you think that this might actually happen in practice?

[2015-12-23 06:18] nikowitt commented on #178
At least in the current state of the conversion method this might happen - of course I could also adapt this in the implementation to convert both \n and \r\b to breaks which is probably better.

[2015-12-27 21:55] tedyoung opened #180 "jgiven-junit includes jgiven-html5-report, docs say differently?"
According to the install docs, using the HTML5 Reporter requires a separate dependency inclusion:

However, this line: https://github.com/TNG/JGiven/blob/master/jgiven-junit/build.gradle#L6 includes that dependency. Am I misunderstanding the docs here?

[2015-12-27 22:08] janschaefer commented on #180
Yes. I am aware of that. The depencency was wrongly added as a compile dependency instead of a testCompile dependency. However, if I change it now, it might break clients that depend on that mistake. I might clean this up in the future with a corresponding changelog entry

[2016-01-08 10:19] chafikhnini commented on #45
+1 for this one. I'm currently writing functional tests that need an application started, and for every `@Test` of a `SimpleScenarioTest` the application is started whereas I only need to do it once.

[2016-01-09 12:46] ahus1 opened #182 "Searching HTML5 report on mobile phone doesn't work"
I observe the following **unexpected behavior:**

    Given JGiven's own report in version 0.11.0 on http://jgiven.org/jgiven-report/html5/
    When I open it my mobile phone (Android 5.1.1, with Chrome 47.0)
       and I open then menu
       and I tap into the search field
    Then the menu closes
       and I can't enter a search term.

Expected behavior:

    Then the menu stays open
       an

[2016-01-10 11:45] janschaefer commented on #182
I thought that I have already fixed that issue, but apparently it is only fixed on desktop browsers.

[2016-01-22 00:39] leoarnold opened #183 "Typo in docs, section 'Getting started'"
The examples on the 'Getting started' page

http://jgiven.org/docs/gettingstarted/

use `GivenSomeState` (StaTe) in the first and `GivenSomeStage` (StaGe) in all others. Then again it's

    public GivenSomeStage some_state()

For consistency I suggest

    sed -i 's/GivenSomeStage/GivenSomeState/g'

[2016-01-22 08:45] #183 closed

[2016-01-22 08:47] janschaefer commented on #183
thx

[2016-01-29 06:31] nobeh commented on #176
This has been the case for us recently as well. Unfortunately, the only option is indeed to download the report ZIP. It is documented at [Jenkins][1]. However, I think that it would be a better practice if also JGiven generates reports that are compliant with [Content Security Policy][2].

[1]: https://wiki.jenkins-ci.org/display/JENKINS/Configuring+Content+Security+Policy
[2]: http://content-secu

[2016-01-29 09:01] mthuret commented on #176
If you have some apache on the server hosting  your jenkins, you can use to create an Alias to the jgiven report directory.

[2016-01-30 20:50] janschaefer commented on #176
To see the JGiven report, you have to relax the Content Security Policy. The following setting worked for me:

[code]

The difference to the default setting is:

* enable Javascript, but Javascript files can only be loaded from 'self'. There is currently no way the report will work without this setting.
* allow inline CSS (why should that be even a security risk?). I might be able to fix that, but

[2016-01-31 21:45] ahus1 opened #185 "How to handle JUnit's assume() within JGiven"
In a BDD web testing setup I use a scenario "Given you use Firefox", that leads to an

    assumeThat(c.getCapabilities().getBrowserName(), Matchers.equalToIgnoringCase("firefox"));

When running this on JUnit, it marks the test case as ignored due to an AssumptionViolatedException.

Looking at the JGiven (HTML5) report it marks the scenario as failed.

    Given 	you use firefox  !failed
    /* .

[2016-01-31 22:11] ahus1 commented on #54
I see that the AsciiDocReportModelVisitor implements ReportModelHandler, while a lot of others implement ReportModelVisitor that can access more details from the report. Can you please share your thoughts on how this should work?

How would I acccess information from tags and attachments and put them into the asciidoc report?

[2016-02-01 08:45] janschaefer commented on #185
Ok, it should definitely be treated as pending and not as failed. Whether it is useful to introduce an Ignored state, I am not sure. In particular, tests that are Ignored by JUnit by the @Ignore annotation, might even not be trackable by JGiven.

[2016-02-01 08:47] janschaefer commented on #54
The AsciiDoc reporter is really alpha state. If you want to work on that you are free to change the implementation however you want :-)

[2016-02-04 15:59] janschaefer opened #186 "Reduce the amount of data required for the HTML report"
When loading a HTML report with 2500 Scenarios the transfered data is about 20 MB. This results in long initial loading times. It would be great if the amount could be reduced somehow.

[2016-02-05 20:35] #186 closed

[2016-02-06 12:59] #182 closed

[2016-02-06 13:00] janschaefer commented on #182
This issue is caused by an issue in angular-foundation. http://github.com/pineconellc/angular-foundation/issues/161. Fixed by a workaround that captures resize events when the mobile menu is shown.

[2016-02-06 15:36] #185 closed

[2016-02-06 15:38] janschaefer commented on #185
The solution is as follows now: when throwing an AssumptionViolationException, the scenario will not appear in the report at all. This is identical to the case where a test is annotated with `@Skipped`

[2016-02-11 22:33] ratulmukh opened #187 "Global setup and cleanup"
Is there any way to do a global setup and cleanup before all scenarios are executed? I need to make long running database bootstrapping setup work before scenarios are executed. It is too time consuming to do it for every scenario in @BeforeScenario  methods.

[2016-02-12 07:22] janschaefer commented on #187
JGiven currently provides no built-in mechanism for that. But you can use the mechanisms of JUnit/TestNG for that. For example, you could use a @BeforeClass-annotated method to do the setup for the whole test class.

[2016-02-17 05:24] ratulmukh commented on #187
Ok, thank you.

[2016-02-17 05:24] #187 closed

[2016-02-17 13:01] adrian-herscu opened #188 "ArgumentFormatter should allow HTML content formatting"
In simple cases we can use CR LF and spacing to format complex objects.
However, sometimes we have to format really complex objects, for example a DbUnit DataSet.
For a DataSet we may need to be able to generate an HTML table with column names and row values.
The current report simply renders the HTML tags, so something returned as "<b>hello world</b>" would be rendered the same in the report.

[2016-02-17 15:53] janschaefer commented on #188
If you want to have a table you can use the `@Table` annotation that exactly does this

[2016-02-17 16:11] adrian-herscu commented on #188
Appears that this is what I need. Tomorrow I will give it a try to see whether it suits my need.

[2016-02-17 16:40] albertofaci commented on #176
Where do you put that "System.setProperty" ?

I tried running as:

`java -Dhudson.model.DirectoryBrowserSupport.CSP="sandbox allow-scripts allow-same-origin; default-src 'none'; img-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self'; font-src 'self'" -jar jenkins.war`

but it didn't work.

I think I'm having the same problem. I run from a local jenkins instance.

any further ideas? Th

[2016-02-17 17:55] janschaefer commented on #176
This should actually be the correct way of setting the property. You can try to completely disable the CSP rules and check whether this works (directly taken from the Jenkins docs):
[code]

[2016-02-18 09:48] nikowitt opened #189 "Format step method dynamically without parameters"
Hi Jan,

we've implemented some steps that are within some date ranges like this:

[code]

To be able to render the second (today) line, I need to supply the current date as a parameter, but I prefer to have a helper method like today() _without having to supply a parameter_. With @NestedSteps, this could be wrapped a little bit, but it is only a workaround. So basically I have to be able to have

[2016-02-18 11:41] janschaefer commented on #189
Yes. This is actually something which I also wanted to have myself sometimes :-)

[2016-02-18 11:41] albertofaci commented on #176
Solved, it was my browser being picky because I was testing the plugin in a local Jenkins instance and there were XSS issues because of it being accessed via localhost
It works fine now, thanks :)

[2016-02-18 11:46] janschaefer commented on #176
Ah yes, I forgot to say that you have to clear your Browser cache :-)

[2016-02-19 16:25] albertofaci commented on #76
I just noticed that if the exception is caught by the rule, the test passes but it's shown as failed in the reports

[2016-02-19 16:52] janschaefer commented on #76
True, I will update the documentation.

[2016-02-21 13:34] adrian-herscu opened #190 "incorrect duration reporting of test execution"
Given a data driven test
With duration = [10ms,20ms,30ms]
When executing Thread.sleep(duration)
Then the reported duration for first case should be 10ms
And for second case should be 20ms
And for third case should be 30ms

Apparently all cases are reported with same duration as first case.

[2016-02-21 13:36] adrian-herscu commented on #190
my mistake, closing

[2016-02-21 13:36] #190 closed

[2016-02-25 15:46] mind-blowing opened #191 "Attachments with DataProvider in 0.11.1 as one file instead of several"
We tried to update version of JGiven to 0.11.1, but found problem with attachments in tests when we are using DataProvider, instead of several attachment we have only one.

[2016-02-25 17:52] #191 closed

[2016-02-25 18:13] janschaefer commented on #191
Corresponding scenario: http://jgiven.org/jgiven-report/html5/#/tag/Issue/%23191

[2016-02-25 18:13] janschaefer commented on #191
Thanks for reporting!

[2016-02-25 23:35] swapsmagic opened #192 "JGiven integration tests fails when run with maven parallel build"
Jgiven integration test fails with below exception when run with mvn -T 1C (parallel build)

`java.lang.NullPointerException: null
	at com.tngtech.jgiven.impl.StandaloneScenarioExecutor.invokeRuleMethod(StandaloneScenarioExecutor.java:278)
	at com.tngtech.jgiven.impl.StandaloneScenarioExecutor.ensureBeforeStepsAreExecuted(StandaloneScenarioExecutor.java:233)
	at com.tngtech.jgiven.impl.StandaloneS

[2016-02-25 23:35] swapsmagic commented on #192
Tests are written using JUnit.

[2016-02-25 23:37] swapsmagic commented on #192
Version used: 0.9.1

[2016-02-26 07:09] janschaefer commented on #188
Any updates on this?

[2016-02-26 22:22] swapsmagic commented on #192
Just an update:
- I see the same error when building the packages in parallel mode and running integration tests in non parallel mode.

[2016-02-27 07:52] janschaefer commented on #192
I tried to reproduce the problem, but was not able to do so. I also cannot see how it is possible to have a NPE in line 278 of StandaloneScenarioExecutor (in v0.9.1). Could you please upgrade JGiven to v0.11.2 and tell me the result?

[2016-02-29 07:19] adrian-herscu commented on #188
Sorry, no time to deal with it.

[2016-03-03 13:14] mgehlen commented on #176
so we relaxed the Jenkins Security settings and updated jGiven to 0.11.2 now everything is working fine again in a quite complex Jenkins Master Slave environment for Mobile Apps for iOS and Android.

[2016-03-03 13:42] janschaefer commented on #176
Great to hear!

[2016-03-09 12:45] nikowitt opened #193 "Formatters in abstract methods don't work properly"
Hi Jan,

[code]

contains a test

[code]

with

[code]

The implementing class is

[code]

and overrides

[code]

Now the report does not consider the @IsIsNot formatter as it displays:

[code]

but I'm expecting

[code]

or

[code]

So it seems that there is an issue with abstract methods somewhere.

Best regards,
Niko

[2016-03-09 13:15] ahus1 opened #194 "Support more than one attachment per Step"
I've added an attachment to a step using CurrentStep#addAttachment to a step, then I tried a second attachment to the same step.

I found that only the second attachment is presented in the report, as the model supports only one attachment at the moment.

As a user I would like to have multiple attachments on a single step to show for example request and reponse in the report.

Thoughts?

[2016-03-09 18:33] janschaefer commented on #193
Strange. I will have a look.

[2016-03-09 18:39] janschaefer commented on #194
Should basically be possible. The question is how to represent multiple attachments when there are mutliple cases with a data table. Currently the attachment symbols are numbered by case. If there are multiple attachments this will become confusing. Any ideas?

[2016-03-10 12:17] asifnm opened #195 "Is there an Eclipse plugin for JGiven?"
Is there a step by step guidance or a plugin how I can install, configure and use jgiven in eclipse?

I hope to hear from you.
Kind regards,

Asif

[2016-03-10 15:15] janschaefer commented on #195
You don't need a JGiven plugin for Eclipse, because you use it either with JUnit or with TestNG. It is just used like a library, like you would use Mockito, for example.

[2016-03-13 11:56] #195 closed

[2016-03-15 19:11] petega opened #198 "Allow @CaseDescription at class level"
Sometimes @CaseDescription annotations on all methods of a test class can be handled by the same DescriptionProvider without any individual configuration of the specific annotations.
It would be nice if @CaseDescription could be annotated at class level, so that unnecessary repetitions of exactly the same annotation on every method could be avoided.

[2016-03-15 19:16] petega opened #199 "Provide the running test instance to DescriptionProviders"
When using @CaseDescription with a custom CaseDescriptionProvider, it would be nice if the description method of the CaseDescriptionProvider would receive an instance of the running test.
This way it would be possible to provide a description depending on some state of the currently running test instance.

[2016-03-16 06:09] janschaefer commented on #199
The main challenge with this suggestion is that JGiven supports JUnit and TestNG. The question is now if there should be a unified solution or one solution for each framework.

[2016-03-17 14:25] fbouad opened #200 "Html 5 report: Manage pending scenario with Dataprovider"
When I use @Dataprovider and @Pending on my scenario, the report marks it as failed and not as pending.
It works fine when I only use @Pending on a scenario. Could you look at this please?

Thanks!

[2016-03-17 16:04] janschaefer commented on #200
Interesting :-)

[2016-03-18 12:04] ahus1 commented on #194
In a scenario without a data table I would see two attachment symbols at the end of the line. When I hover over the attachment, the tooltip will give me a hint what I will find in the attachment.

In a data table I would expect the attachments belonging to the same row to have the same number. Like this:

    This is a line [Att1]^1 [Att2]^1 [Att1]^2 [Att2]^2

[2016-03-18 12:16] janschaefer commented on #194
I agree. That should be a good solution.

[2016-03-20 06:29] janschaefer commented on #200
I could reproduce the problem. It is a design issue with JGiven that requires a backwards incompatible change of the JSON model. I will fix this with version v0.12

[2016-03-20 07:19] janschaefer commented on #193
Which Java version are you using? I could reproduce the problem with Java 6 and Java 7. With Java 8 the problem is gone. I think the problem is related to #62. The reason is that Java generates so called _bridge_ methods in certain cases. For example, if you override a method using a different return type. The problem is now that the generated bridge method does not take over the annotations that

[2016-03-20 07:47] #198 closed

[2016-03-20 07:50] janschaefer commented on #192
Do you have any updates on this issue?

[2016-03-20 07:52] janschaefer commented on #188
I close this issue for now. Please reopen it if the `@Table` annotation did not work for you.

[2016-03-20 07:52] #188 closed

[2016-03-20 07:56] janschaefer commented on #176
I mark this issue now as wontfix, because I currently don't think that there will be a Javascript-free report in the near future for JGiven.

[2016-03-20 07:56] #176 closed

[2016-03-20 08:07] nikowitt commented on #193
I think in this particular case I was using Java 7, so this makes perfectly sense. I will verify this as soon as possible.

[2016-03-20 16:11] fbouad commented on #200
Thanks!

[2016-03-21 01:49] swapsmagic commented on #192
Haven't had chance to investigate it further. You can go ahead and close it for now and i can reopen once i get back to it. Thanks for looking into it though.

[2016-04-17 19:28] Woyten opened #201 "Alternative usage of external stages"
I think it would sometimes be easier if we could use an external stage `GivenTestData` via `given(GivenTestData.class)` or `and(GivenTestDataclass)` instead of injecting the stage via `@ScenarioStage`.

Code like `givenTestData.and().some_test_data()` could then be written as `and(GivenTestData.class).some_test_data()`.

[2016-04-18 06:49] janschaefer commented on #201
Sounds like a good idea. There is one problem though. If the stage has a `@BeforeScenario` annotation, the corresponding method cannot be executed anymore before the complete scenario, because JGiven does not know about that stage at the beginning of the scenario.

[2016-04-18 10:26] albertofaci opened #202 "Stage composition (stages within stages)"
A bit of background: At the moment we have ~500 acceptance tests in JGiven. These are microservice-level component tests that talk over HTTP with REST endpoints. They use a application running with a DB and some mocks abstract away the other microservices. The test setup is thus quite complex involving setting data up that is not specifically relevant for the test but just _needs to be there_. So

[2016-04-18 10:34] koenusz opened #203 "Injected stages do not go well together with injected scenario states."
My Situation:
Some steps in your testsuite are usable by many tests. For instance logging into your application. Ideally you would like to program this functionality once and reuse it throughout your testsuite. I found that injecting scenario stages is quite convenient for this purpose. However I found that scenario State is not properly transferred to the parent stage.

An example of the situatio

[2016-04-18 13:44] nikowitt opened #204 "Allow multiple formatters for one property"
Hi Jan,

[code]
throws a

com.tngtech.jgiven.exception.AmbiguousFormattingException.

Is there any reason why multiple formatters can't be used in the order they are declared? To achieve that behaviour, I need to provide another formatter annotation that combines both formatters which results in increased code verbosity.

Best regards,
Niko

[2016-04-18 14:24] albertofaci commented on #203
I just reported the same thing #202 :)
I'm debugging at the moment. The framework instantiates `loginSteps` for you, but the StepMethodInterceptor would not kick in in when you update `newUserId` and update it in `MyFeatureSteps`

[2016-04-18 19:49] Woyten commented on #201
I think it's a recurring problem that _JGiven_ needs to now the stages in advance and we should find a way to solve this.

What if the meaning of `@BeforeScenario` would be more like `@BeforeStageOnce` as from my of view there is no real need to execute stage-specific code before the whole scenario?

Why do I think so? Let's say, we have an annotated method with some behavior a later test relies o

[2016-04-18 20:02] janschaefer commented on #201
Well, I guess you are right. `@BeforeScenario` should be in most cases identical to `@BeforeStage` which is also only executed once before the stage. This is in contrast to `@AfterScenario` which really cannot be replaced with `@AfterStage`. The problem still might be that existing code relies on the existing behavior of `@BeforeScenario`. So changing the semantics might break existing code.

[2016-04-18 20:06] janschaefer commented on #204
I think I originally couldn't think of a useful use case. But it seems to make sense to combine multiple formatters :-)

[2016-04-18 20:10] janschaefer commented on #202
This is related to #83

[2016-04-18 20:10] Woyten commented on #201
You could still introduce a new annotation, deprecate the old one and then throw the old one away after some release cycles. And _JGiven_ is version 0.x, so there can always be breaking changes. :smirk:

[2016-04-18 20:15] janschaefer commented on #203
Yes, this problem is known to me. State transfer currently doesn't work for stages injected into other stages, because the precise semantics is somehow hard to define. This is thus also no documented feature. The point here would be that on calling the injected state the state of the parent stage must be read and the child stage updated. When the call comes back the state of the parent stage must

[2016-04-18 20:15] janschaefer commented on #202
Do you think that this is actually a duplicate of #203?

[2016-04-18 20:17] janschaefer commented on #203
As two people had the same intuition, I think this might actually be intuitive :-) I have to think about that a bit, maybe I will create some experimental annotation/feature.

[2016-04-18 20:22] janschaefer commented on #201
Well, if we would introduce a mechanism like the one you are describing and @BeforeScenario would only behave differently in this case than this would also be fine as there is no existing code that uses that. However, the documentation of the semantics of `@BeforeScenario` will then become a bit difficult.

[2016-04-19 09:16] koenusz commented on #203
Maybe the issue can be solved by using a publish/subscribe mechanism. That way when the value gets updated in the `ValueInjector` you can use callbacks to update the value of all the statevariables in the testsuite.

[2016-04-19 09:56] koenusz commented on #203
[code]
[code]

[2016-04-19 09:57] koenusz commented on #203
Just a suggestion, this does not even compile but I guess it should get the idea across.

[2016-04-19 10:05] albertofaci commented on #202
@janschaefer  I think so, right?. He wants a `@ScenarioState` field to be set in a different stage, and then be updated in that stage for the next method call

[2016-04-19 10:11] albertofaci commented on #202
@janschaefer  I've submitted a pull request that definitely solves **this** ticket :D
I think the other one too

[2016-05-12 09:13] pityq commented on #203
Is there any advancement on this issue (or on #202 for that matter)?

[2016-05-12 09:17] albertofaci commented on #203
@pityq I just pushed a revised version that mitigates the performance overhead that @janschaefer mentioned in #205

[2016-05-12 09:46] janschaefer commented on #203
Cool! I will try to have a look at that this evening, otherwise I will look at it tomorrow

[2016-05-16 13:34] janschaefer commented on #203
I close this as a duplicate of #202

[2016-05-16 13:34] #203 closed

[2016-05-16 13:40] janschaefer commented on #202
I implemented this feature now, based on your pull request #205. It is still experimental and I have to write many additional tests for that, but so far it does not break existing behavior. Some things I have changed regarding to the pull request:
* Have no additional annotation `@ComposedScenarioStage` just use `@ScenarioStage`
* The state of child stages is only update when you call a method on

[2016-05-17 10:51] albertofaci commented on #202
Briiliant @janschaefer! That's great news. Quite a few people here were excited about this feature

[2016-05-17 10:58] #202 closed

[2016-05-17 11:02] janschaefer commented on #202
I merged the PR now to master, even though I might still work on it. As soon as Travis has run over it you can test version 0.12.0-SNAPSHOT if you like

[2016-05-17 11:03] janschaefer commented on #192
I close this issue now. If you have any updates, please feel to reopen it.

[2016-05-17 11:03] #192 closed

[2016-06-11 12:22] janschaefer commented on #193
any updates on this issue?

[2016-06-13 21:28] nikowitt commented on #193
I'm currently on vacation, will check this next week in the office.

[2016-06-14 18:27] Airblader commented on #204
The question coming to mind for me was "is the order of annotations returned when used reflection even guaranteed?". Luckily, [the answer is yes, albeit in a very hidden way](http://stackoverflow.com/questions/28067074/java-annotations-reflection-ordering).

[2016-06-14 20:13] janschaefer commented on #204
Good to know :-)

[2016-06-15 20:47] Airblader commented on #204
@janschaefer Do you have an easy way to implement this? I tried taking a go at it, but failed so far. My general idea was a "chained formatter" to collapse the list down, but the fact that `Formatter`, `ObjectFormatter` etc. have no common base is really getting in the way. Maybe I'm just misunderstanding the concepts here, though. Perhaps we can take a look at it in person sometime? :-)

[2016-06-18 18:38] janschaefer commented on #204
I think that this has to be explicitly implemented in the core of JGiven. The main problem here is that the first formatter is different to the following formatter, because the first formatter takes the normal object as input, but the following formatter can only take Strings as input.

[2016-06-18 20:45] Airblader commented on #204
@janschaefer Yeah. The following patch seems to work (not extensively tested, though) and shows the basic idea (it's not really cleaned up yet). I don't like all the casting that's going on, but the core, in that area, already heavily relies on casts and raw types and it doesn't seem trivial (or even possible?) to fix it. Maybe you can comment whether the basic idea of this patch is even the kind

[2016-06-18 21:57] Airblader commented on #204
Also, this currently throws a `ClassCastException` if non-string formatters are used in the wrong place. Should JGiven catch this and throw something else instead?

[2016-06-19 06:16] janschaefer commented on #204
Cool. Thanks for having a look into this feature :-). Regarding the ClassCastException: yes this should be handled by JGiven, because it is actually a wrong usage of JGiven and not a fault in JGiven itself. In this case you should throw a JGivenWrongUsageException with a clear description of the problem.

[2016-06-19 11:55] #204 closed

[2016-06-19 11:57] janschaefer commented on #193
Ok, no problem. I would close this for now as a duplicate of #63. If it turns out to be a different issue then just reopen it.

[2016-06-19 11:58] janschaefer commented on #53
Currently I don't really see a need for that.

[2016-06-19 11:58] #53 closed

[2016-06-19 18:37] Airblader commented on #11
Did formatter annotations exist back when this issue was raised? IMHO, the best solution here would be if the test simply used `@Quoted`, which would fix this issue for *all* report generators.

That said, if we still want to fix this in the HTML generator (and possibly others), one proposal would be the em-dash "—". Another option, which *only* works for HTML, would be to visually indicate it:

A

[2016-06-19 18:48] Airblader commented on #80
@janschaefer What is the status of this? It almost sounds like this has been "fixed", but there's no linked commits or information on what else would have to be done.

[2016-06-19 20:22] #194 closed

[2016-06-20 06:54] nikowitt commented on #193
Problem still exists with Java 1.8.0_72, so it seems that this is something different.

[2016-06-22 17:32] Airblader commented on #11
Actually I think displaying *anything* for an empty string could break test reports for users. For example in a scenario like this:

[code]

[2016-06-23 06:43] janschaefer commented on #11
Well, maybe we should close this issue

[2016-06-23 06:43] #11 closed

[2016-06-23 09:10] janschaefer commented on #80
Maybe I really forgot to close this issue :-). @clementheliou do you think we can close this?

[2016-06-23 21:45] clementheliou commented on #80
@janschaefer Yes, you can.
This issue has been fixed a long time ago with the switch from the OR relation to the AND one.

[2016-06-23 21:45] #80 closed

[2016-06-24 08:21] janschaefer commented on #80
Great thx!

[2016-06-24 08:25] janschaefer commented on #193
Maybe you need special rights :-). I reopened it.

[2016-06-25 18:20] Airblader commented on #50
Just to clarify, this should be really a new piece of information on a step rather than just setting the extendedDescription of a particular step instance?

[2016-06-25 18:35] Airblader commented on #50
Also, from my understanding of the codebase, this would roughly involve the following:

* Add a new `comment` property to `Word.java` and add it to the JSON protocol.
* Introduce a new `comment` method in `StageBase.java` (or `Stage.java` to make it language-aware).
 * Introduce a new annotation for such a method, similar to `@IntroWord`.
 * Handle this annotation in `stepMethodInvoked#stepMethodI

[2016-06-27 20:53] Airblader commented on #172
What should this look like from a design point of view? Do you want a method which takes a `TagConfiguration`?

[2016-06-28 09:20] janschaefer commented on #172
I haven't really thought about that. I am not sure whether TagConfiguration is the right thing to use here. The TagConfiguration class is actually used to configure a tag. For applying a tag there should be a more narrow interface. In fact, it should only take the class of the annotation and and optional value, IMO.

[2016-06-28 09:22] #50 closed

[2016-06-28 19:32] ahus1 opened #211 "Hide Tag from navigation on the left in HTML report"
I want to tag my test cases with IDs from the ticket system so I can use the IDs as a cross-reference and search for them.

But the number of tickets would be too long on the navigation bar, therefore I would like to hide them from the navigation.

Implementation idea: maybe add hideFromNavigation to IsTag annotation?

[2016-06-28 19:53] janschaefer commented on #211
I would like to have a positive setting, something like `useForNavigation` and set it to `true` by default.

[2016-06-28 20:39] Airblader commented on #172
This could be more challenging than I originally anticipated. We need an actual instance of the annotation, not just its class, because we need to pass some instance to the DescriptionGenerator and HrefGenerator if they are being used.

However, creating a proper instance of an annotation isn't exactly easy. For example, Hibernate has [this proxy class](https://github.com/hibernate/hibernate-valid

[2016-06-28 20:46] Airblader commented on #172
On a side note, could it be that there's a bug in `ScenarioModelBuilder#toTags`? The method exits early if `ignoreValue` is set. Both nested tags and the href attribute won't be set in this case, neither of which sounds right to me. Bug?

[2016-07-01 21:34] Airblader opened #212 "Use consistent import settings throughout the codebase"
It seems that the number of required imports before using `*` differs even within single classes which, with enabled import organization, causes a lot of unrelated noop changes. Since I don't want to commit those changes this requires me to manage change hunks which just needlessly wastes time. :-)

I think it'd be good if we could just agree on a sensible value for the number of required imports

[2016-07-01 21:35] Airblader commented on #211
I'd be happy to work on this after #172 (since this will affect the same area in the code).

[2016-07-01 22:05] janschaefer commented on #211
I already started working on this :-)

[2016-07-01 22:06] Airblader commented on #211
Then we'll have merge conflicts :-(

[2016-07-01 22:08] janschaefer commented on #211
We will see, but I think we both have enough experience with merge conflicts ;-)

[2016-07-01 22:09] Airblader commented on #211
Indeed, but I still prefer avoiding them. :-) We probably only have a conflict in `ScenarioModelBuilder` anyway. See #213.

[2016-07-02 22:50] #211 closed

[2016-07-05 20:09] Airblader opened #214 "Misleading shownInNavigaton element in JSON model"
With the recent addition of `shownInNavigation`, `Tag` now contains these elements:

[code]
  "tagMap": {
    "CarOrder-BMW": {
      "type": "CarOrder",
      "value": "BMW",
      "description": "",
      "href": "",
      "shownInNavigation": false
    }
  }
[code]

[2016-07-05 20:17] janschaefer commented on #214
Ups. I forgot to remove the showInNavigation field.

[2016-07-05 20:21] #214 closed

[2016-07-07 06:41] #172 closed

[2016-07-09 21:46] Airblader commented on #54
I think the best way to go here is to first come up with an example asciidoc document to get a feeling for what generated documents should look like. That's what I'll start with, anyway. :-)

A first few tests show me, however, that we will need to deliver some theme / style file. At least for reference. For example, for formatting reasons I'd use a table for displaying a scenario, but inside the

[2016-07-10 21:21] Airblader commented on #189
So basically we need the provider mechanism in the `@As` annotation, right?

[2016-07-11 14:58] Airblader commented on #189
I'm working on this. Just need to write tests, the rest is done.

@janschaefer Is there a specific reason why this pattern is called `*Generator` for some cases and `*Provider` for others?

[2016-07-11 15:23] Airblader opened #216 "Pass the annotation to CaseDescriptionGenerator"
Currently, the `CaseDescriptionGenerator#description` method receives the value from the annotation, not the actual annotation. Perhaps we should align all generator / provider cases here and pass the annotation, which would make for a more flexible API.

This is mostly a thought for 1.0.

[2016-07-11 19:36] Airblader commented on #189
@nikowitt Would you mind taking a look at the PR to see whether the example I posted there covers what you originally asked for? Just want to make sure the implementation fits the request. Thanks!

[2016-07-12 05:43] nikowitt commented on #189
Looks like a flexible solution hat fits the requirements.

[2016-07-12 19:33] #189 closed

[2016-07-14 21:41] hemanthsridhar commented on #176
Hi, I am very new to jenkins. @albertofaci can you please teach me on how to relax the jenkins security? . I need an elaborate way. My OS is MAC. Please help!

[2016-07-15 07:15] albertofaci commented on #176
@hemanthsridhar you add this parameter in the startup command
-Dhudson.model.DirectoryBrowserSupport.CSP=  (see a few comments above)
In my case it was a firewall problem if I recall correctly

[2016-07-15 08:03] rillig-nm opened #217 "Typos on web page"
http://jgiven.org/ says:

should be “everything”

should be “pancake”

[2016-07-15 08:46] #217 closed

[2016-07-15 08:46] janschaefer commented on #217
Amazing how long this typo was not seen by anybody :-)

[2016-07-15 21:14] ratulmukh opened #218 "Execute tests based on tag"
Is there a way to only execute tests that are specified with a certain tag? Something like JUnit categories? I would really like to just mention a tag in the maven command, and have only those tests with the given tag executed.

[2016-07-15 21:26] janschaefer commented on #218
There is no direct way of doing this, because JGiven is relying on JUnit to execute the tests. As JGiven is implemented by JUnit rules and not as a Runner, JGiven can also not influence the execution of tests. However, what you could do is to turn JUnit categories into JGiven tags. To do so you have to use the `@JGivenConfiguration` tag at your test class (or a common super class of all your tests

[2016-07-16 10:34] janschaefer opened #219 "Port documention from Jekyll to Asciidoctor"
The documentation of JGiven should be in the same branch as the code, so that it is easier to maintain. Currently it is on the gh-pages branch and written using jekyll. Instead it should be in the master branch under `src/doc/asciidoc`.

[2016-07-16 11:13] janschaefer opened #220 "Add support for JUnit 5"
Create a new sub-project jgiven-junit5 to support JUnit 5

[2016-07-18 11:33] janschaefer opened #221 "All Uppercase step methods are formatted in the wrong way"
Given a step named 'TEST'
When JGiven formats the step
Then the resulting string is 't e s t'
 But should be 'TEST'

[2016-07-18 12:36] #221 closed

[2016-07-21 07:25] rolfschumacher opened #222 "Just starting a project ..."
without BDD experience but like the idea to bind the test case coding to the test case documentation. I would like to see JGiven output prior to go for it but I cannot find any example html report to see how it will look like.
I did the _getting started_ including html reports and wonder not to see **Given some state. When some action then some outcome.** anywhere in the generated reports.
What di

[2016-07-21 08:48] janschaefer commented on #222
On the start page of jgiven.org you can click on the screenshot and you will see the JGiven report of JGiven:
* http://jgiven.org/jgiven-report/html5/
Another nice example is that of the xke project:
* http://janschaefer.github.io/xke-jgiven/

[2016-08-01 06:43] rolfschumacher opened #223 "./gradlew build leads to failure"
on Debian Linux. I am trying this the first time, hence, not sure whether it is my fault.
Shouldn't it build smoothly?
The failure is:
:jgiven-html5-report:bowerUpdate FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':jgiven-html5-report:bowerUpdate'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get

[2016-08-01 07:14] janschaefer commented on #223
You need to have bower installed. The requirements for building JGiven are explained in [CONTRIBUTING.md](https://github.com/TNG/JGiven/blob/master/CONTRIBUTING.md)

[2016-08-01 08:41] Rubbiroid commented on #201
Perhaps we can use it like so:

`@ScenarioStage
private WhenSomething<?> whenSomething

@Test
public test() {
  given().nop();

 when().nop().
  .and(whenSomething).some_other();
}`

[2016-08-12 20:20] #223 closed

[2016-08-12 20:20] #222 closed

[2016-08-12 20:21] #218 closed

[2016-08-12 20:22] janschaefer commented on #212
Currently, I see that as a too minor issue to fix. It is not that important for me to have a completely consistent code base. I'll close it for now.

[2016-08-12 20:22] #212 closed

[2016-08-18 20:07] theimplementer opened #225 "Test failures not reported correctly with jgiven-spring tests"
I've come across a problem when running some tests using jgiven-spring. In particular, assertion errors get swallowed depending on the order of execution if a test class has multiple tests.
This seems to happen when the assertion is included in Stage method. Following is some sample code.

In this first case, the assertion error is reported correctly (I've used the @FixMethodOrder annotation just

[2016-08-19 07:55] janschaefer commented on #225
Thanks for reporting!

[2016-08-19 08:06] janschaefer commented on #225
I just realized that it is important to create the SpringScenarioExecutor with @Scope("prototype"). When you change your example accordingly it will work as expected. You can even simplify your configuration by just annotating your Spring configuration class with the `@EnableJGiven` annotation.

[2016-08-19 08:06] #225 closed

[2016-08-19 15:48] ctranxuan opened #226 "Custom ArgumentFormatter is not rendered the same in HTML report as in console"
[jgiven-json-formatter.zip](https://github.com/TNG/JGiven/files/427378/jgiven-json-formatter.zip)

Hi,
I've tried to implement a json formatter (based on pretty print of the Jackson library).
When I apply my `@JsonPrettyFormat` annotation to a parameter, this one is well formatted in the console but not in the generated html report.

If I apply the formatting to a parameter without the annotation,

[2016-08-19 22:46] patompa opened #227 "Step methods with final modifier are not picked up in reports"
[code]

The a_given(), a_when(), and a_then() steps won't run or at least won't be reported unless I remove the final modifier from the methods. It would be great if the final modifiers would be allowed since not having them breaks the [checkstyle DesignForExtension rule](http://checkstyle.sourceforge.net/config_design.html).

[2016-08-20 10:23] janschaefer commented on #227
Hi patompa,

due to the internal implementation of JGiven, step methods must be overridable. Otherwise JGiven cannot intercept the method calls. Thus, methods cannot be final, private or static.

Cheers,

   Jan

[2016-08-20 10:23] #227 closed

[2016-08-20 19:11] #226 closed

[2016-08-20 19:14] janschaefer commented on #226
Thanks for reporting and having provided a complete example!

[2016-08-21 15:56] ctranxuan commented on #226
Thanks for JGiven and the fix!

[2016-08-22 15:52] ahus1 opened #228 "Attachment in JSON format in not written to a file"
If you define an attachment with MediaType JSON_UTF_8, no file is created by the HTML5 report.

Html5AttachmentGenerator will create only files for "text/\*" and "image/\*" types.

I would expect to have a file regardless media type (maybe with a default extension of "bin" like binary). For "application/json" the extension should be ".json".

Please comment if this is what other would expect as we

[2016-08-23 12:38] janschaefer opened #229 "JGiven does not work with Spring JUnit Rules"
Since v4.2, Spring provides a SpringClassRule and a SpringMethodRule. When using these rules instead of the SpringRunner, JGiven throws a `JGivenInternalDefectException`

[2016-08-23 14:50] janschaefer commented on #228
Yes, that should be fixed.

[2016-08-26 12:24] janschaefer commented on #219
Fixed by PR#230

[2016-08-26 12:24] #219 closed

[2016-09-18 17:49] janschaefer opened #233 "HTML5 report shows getWordValue instead of the value"

[2016-09-18 17:50] #233 closed

[2016-09-20 06:07] nikowitt commented on #204
I've just tested this feature in the new version (I've should have done this earlier :() and I don't think that in most cases, it is not a good idea to provide the JGivenWrongUsageException. There are many cases where I just want to quote the string representation of a particular field. Currently, I cannot e.g. use some @ReadableEnum @Quoted formatters, I still have to use a @QuotedReadableEnum an

[2016-09-20 06:09] Airblader commented on #204
I'm not sure I understand the problem. Don't you just have the two annotations switched? In other words you should use "@Quoted @ReadableEnum", assuming the latter turns an enum into a string.

[2016-09-20 06:12] nikowitt commented on #204
My understand is that basically I want to apply the @ReadableEnum first and then to apply the @Quoted afterwards. But let's check :)

[2016-09-20 06:26] Airblader commented on #204
Annotations aren't executed in order, but from "inner to outer" starting at the property. Admittedly in order is also a valid way, I think this comes down to preference.

[2016-09-20 06:28] nikowitt commented on #204
Okay, this is fine to me now that I know :)

[2016-09-20 06:35] Airblader commented on #204
Great. :-) Let us know if it worked!

[2016-09-20 08:19] nikowitt commented on #204
Yes, it seems that it is working fine now. Thanks for the quick response!

[2016-09-21 15:04] janschaefer commented on #204
thanks for testing! If you find anything else let us know :-)

[2016-09-25 13:08] adrian-herscu opened #234 "customization of failure message"
We are required to verify multiple properties of complex objects.
One way to do this is within a "then" step to run a loop -- like this:

[code]
The issue with this approach is that it stops evaluating further assertions upon first failed assertion. Hence, if someone tries to fix the test, then he has to run it multiple times until all properties are as they should be.

Another way would be to jus

[2016-09-26 09:36] janschaefer commented on #234
Ok. It might be that the newlines must be replaced with HTML <br> tags in the report. I will have a look.

[2016-09-27 06:40] nikowitt opened #235 "Reusing @Table"
Good morning,

I'm currently encountering the situation that I want to reuse a @Table
[code]

I'd expected to be able to provide this as a meta annotation in my custom annotation as this is possible for other formatters, but this is not allowed. Is there an easy way of being able to do so?

Best regards,
Niko

[2016-09-27 06:56] janschaefer commented on #235
The meta-annotation should definitely be implemented!

[2016-09-27 20:19] #235 closed

[2016-09-27 20:20] janschaefer commented on #235
The fun fact is that it already worked, I only had to allow the `@Table` annotation to be applicable at annotations type.

[2016-09-28 04:27] nikowitt commented on #235
Great. Too bad that the change was performed after the nightly build :)

[2016-10-07 09:43] sarahBuisson opened #236 "cannot use $, $1 , etc... in ExtendedDescription"
I use jgiven 0.11.4

[code]

report:

[2016-10-07 09:51] sarahBuisson opened #237 "[wish] call a method to generate @As message"
I wish I can have a way to process the message reporting by @As:

by Ex:

[code]

[2016-10-07 09:53] Airblader commented on #237
The syntax you use for the example simply isn't possible in Java. The feature you want is already implemented as of 0.12.0 by using a provider. See
 https://github.com/TNG/JGiven/blob/master/jgiven-core/src/main/java/com/tngtech/jgiven/annotation/As.java

[2016-10-07 10:03] Airblader commented on #237
The one thing not possible is access to the arguments. @janschaefer

[2016-10-07 10:04] Airblader commented on #236
This relates to and depends on #237 and would involve changing the DefaultAsProvider

[2016-10-08 12:45] janschaefer commented on #237
Maybe it still would be useful to support passing a method name as a string. This way you don't have to write a class.

[2016-10-08 12:52] janschaefer opened #238 "Extract HTML 5 Report into separate project"
In order to make it easier to develop the HTML report independently of JGiven, it would be useful to put the HTML report into its own project with a separate release cycle. JGiven should still provide a Java artifact with a version matching that of JGiven.

As the HTML 5 report is a pure Javascript project, it would make sense to publish it to NPM.

This is in particular important to easier suppor

[2016-10-09 08:52] adrian-herscu opened #239 "@ScenarioState sometimes not injected while running multithreaded under TestNG"
Using JGiven version 0.11.4 -- my test class looks like:
[code]

It has few other similarly looking methods.

The `deleting_key` method is implemented as follows:
[code]

The `targetDukesConfiguration` is initialized like this:

[code]

**Hence I expect in the `PegasusDukesClientActions` stage to have `targetDukesConfiguration` initialized at least with a new empty `ThreadLocal`.**

However, when

[2016-10-09 10:08] ahus1 commented on #228
Started working on this one.

[2016-10-09 11:44] janschaefer commented on #228
Ok, great!

[2016-10-14 07:38] #234 closed

[2016-10-14 21:19] #239 closed

[2016-10-14 21:19] janschaefer commented on #239
That one was quite tough :-D

[2016-10-14 21:29] janschaefer commented on #237
That is in fact interesting. Currently the arguments are evaluated after the `AsProvider` has been called. In fact it would be better to let the `AsProvider` handle the arguments.

[2016-10-16 14:03] originx opened #244 "Android support(?)"
What would be necessary in terms of effort and technical details to switch from cglib to ByteBuddy.

Motivation for this would be running JGiven in Android Espresso UI tests on emulators.
(cglib is not supported on android JVM)

Thanks

[2016-10-17 05:15] janschaefer commented on #244
I didn't have a look at ByteBuddy yet, but that should be possible without much effort I guess. Could you provide a small example project with an Android Expresso UI test?

[2016-10-17 09:23] originx commented on #244
I will create an example project for Android Espresso test soon, in the meantime I forked and started introducing ByteBuddy.

https://github.com/originx/JGiven

I am having issues with inner static classes, already reached out to ByteBuddy developer, probably it is due to misuse of the lib.

(btw you can take a look at the lib looks very promising you can also easily extract all the annotations et

[2016-10-17 13:07] originx commented on #244
With the help of ByteBuddy dev :jgiven-core:test tests look green on:
https://github.com/originx/JGiven

Now only thing left for Android test running would be ability to instrument jgiven to pick which classloader to use _AndroidClassLoadingStrategy_, create a new directory on the device during test run for class loading:

That means , see StandaloneScenarionExecutor.java code for loading needs to

[2016-10-17 13:53] janschaefer commented on #244
Looks good so far :-). But could you explain to me why 3 intercept methods are needed?
Regarding the file path: does it only have to be a random path? Maybe we can get around that without having to providing a file?

[2016-10-17 15:45] originx commented on #244
I followed advice from this ticket (the ByteBuddy developer) how to intercept methods:
https://groups.google.com/d/msg/byte-buddy/nBuGgkW63vQ/h9me2yPdYMYJ
He gave a thorough explanation why 3 methods, if you believe this is the wrong approach we can change it.

Regarding the path, I dont believe it needs to be random, maybe it would be smart to clean it up after the test run, tehnically it is just

[2016-10-17 16:06] janschaefer commented on #244
That sounds good. My basic idea would be to create a simple artifact that you just depend on, like jgiven-android and then it basically works more or less out-of-the box. So additional dependencies would be no issue as you only get them if you depend on jgiven-android. The alternative would be to go for a reflection-based approach to avoid additional binary dependencies in jgiven-core.

[2016-10-17 19:22] #98 closed

[2016-10-29 09:45] #228 closed

[2016-10-30 14:04] originx commented on #244
Yes lets try something like that, lately I dont have time to proceed working on it, but we will have to enable passing of the classloader of the started activity to the test runner once the test starts.
(also the empty folder that is created for classloading)

I think this will be the most tricky part passing those arguments after android "activity start" is called, which would effectively mean te

[2016-10-31 12:00] nikowitt opened #247 "@As not considered in overridden stage method"
[code]
which is used in

[code]

When I execute ProjectSecurityTest, I expect the following report:

[code]
but instead,
[code]
is generated. So it seems that the @As is not recognized in this case.

Best regards,
Niko

[2016-11-01 05:13] nikowitt opened #248 "Incorrect aggregation of conditions in report using @NestedSteps"
Hi Jan,

some thing I've just discovered:

[code]

In the dataprovider, two matches ($M(...)) are instantiated, one with strict match checking ($M(true,...), another without strict match checking ($M(false,...). In expected_matches_are_verified, two different paths are selected for strict match checking.
So when I run the test, I expect two reports to be rendered without a table aggregation:

[cod

[2016-11-01 06:54] janschaefer commented on #248
I have not looked into the code yet, but it looks like nested steps are not considered yet.

[2016-11-01 15:22] janschaefer commented on #248
This issue is actually quite interesting, because I think I have never thought about nested steps with parameters in general :-)

[2016-11-01 17:38] #248 closed

[2016-11-01 18:05] janschaefer commented on #247
I currently cannot reproduce the issue. I guess, however, that it is related to #63. Which Java version did you use?

[2016-11-01 18:06] janschaefer commented on #247
Also related: #193

[2016-11-01 18:09] janschaefer commented on #247
Just to validate: could you make the super-class non-abstract and test whether it works then?

[2016-11-01 22:09] #200 closed

[2016-11-02 03:56] nikowitt commented on #247
I remembered that I've encountered something similar, but I didn't remember where.

The used Java version is 1.8.0_72.

Dropping the abstract from both RelatedToProjectSecurityTest and RelatedToProjectSecurityStage didn't solve the issue, the report is still not correct.

[2016-11-02 05:29] nikowitt commented on #248
I assume that this is not available in the latest 0.12.2 snapshot (as only 0.13.0 has been declared)? Probably not related to this (but I don't want to open a ticket for this as this is snapshot-related), but jgiven-core-0.12.2-20161101.222126-16.jar throws an exception while instantiating a test:

[code]

[2016-11-02 05:52] nikowitt commented on #235
FYI: Works fine with jgiven-core-0.12.2-20161101.222126-16.jar by using

[code]
In this case, the annotation is a static inner class as it is only used in this test class.

[2016-11-02 06:20] janschaefer commented on #248
Great, thanks for testing the snapshot version! And yes, I have to update the version :-). There will never be a 0.12.2 version.

[2016-11-02 06:23] janschaefer commented on #235
Ok, cool. Thanks for testing!

[2016-11-02 06:24] janschaefer commented on #247
Ok, I see. I will try to play around a bit to see whether I can reproduce the issue.

[2016-11-02 06:35] janschaefer commented on #247
Ok. I could reproduce the issue as follows, but I do not know, whether this is what you meant:
[code]
When I now use `StageB`, it will report `step` and not `my custom description`. If this is what you mean, then this is completely unrelated to #63. In fact, this would not even be a bug, but actually a new feature, to search for annotations at overridden methods :-). The problem here is a bit that

[2016-11-02 06:41] Airblader commented on #247
I'm not sure this is worth implementing. Why not have the annotated step method in the super class which accesses abstract methods for the subclass to implement?

[2016-11-02 06:53] janschaefer commented on #247
Well, the implementation should not be too hard and I also see that the current behavior is surprising and seems to be wrong from a users point of view.

[2016-11-02 06:57] Airblader commented on #247
So should this work for interface methods too then?

[2016-11-02 07:45] janschaefer commented on #247
Good point :-)

[2016-11-02 07:50] Airblader commented on #247
If it should work for interfaces as well you'll run into the interesting situation of having multiple interfaces defining the same method but using different `@As` annotations. :-)

[2016-11-02 08:49] nikowitt commented on #247
Yes, this is exactly what I mean :)

[2016-11-02 14:29] janschaefer commented on #247
Cool. For now, I only will implement this feature for super classes, not interfaces. Supporting interfaces opens too many questions ;-)

[2016-11-13 18:31] rolfschumacher opened #251 "cannot get html report when a test failed"
When running a test with a failure I do get a json file but I will not get a html report.
Is that intended or do I do something wrong?
This is my pom.xml snippet:
[code]

[2016-11-14 06:46] janschaefer commented on #251
That is expected behavior. Maven stops executing when the tests fail and thus the JGiven HTML report is not generated. You can prevent that with the -fea flag of maven on the command line.

[2016-11-14 06:50] janschaefer commented on #251
As an alternative you can also execute the JGiven report on its own after the failing tests. This might be more appropriate on a CI server. `mvn -Dmaven.test.skip=true jgiven:report`

[2016-11-14 16:00] #229 closed

[2016-11-14 16:04] janschaefer commented on #193
I think this is really a duplicate of #247 right? I will close this then. If you think this is not the case, feel free to reopen it.

[2016-11-14 16:04] #193 closed

[2016-11-14 20:19] janschaefer commented on #63
As this is working in Java 8 I will close this ticket as won't fix.

[2016-11-14 20:19] #63 closed

[2016-11-14 21:50] originx commented on #244
So I got most of the stuff running, since I am not completely familiar with JGiven project, code style etc. It would be good if you could take a look at the fork and put some commits/ents there if something feels off

I got a sample project with a JGiven test run on a emulator device, works fine, test runs and json report gets saved on the device <-- cache dir**_, still not pulled to the reports o

[2016-11-15 08:01] janschaefer commented on #244
Amazing! Supporting JGiven for Android is really a great new feature. I will have a look at the code as soon as possible.

[2016-11-17 06:57] nikowitt opened #252 "Use formatters on field level in @Table POJOs"
Hi Jan,

I currently have to implement test scenarios that heavily rely on the @Table annotation.

[code]

where Code is
[code]

creates the output:

[code]

It would be really cool if in this case, formatter annotations could also be recognized on field level, e.g.

[code]
to create an output like

[code]

What do you think?

Best regards,
Niko

[2016-11-17 07:18] janschaefer commented on #252
Makes totally sense to me :-)

[2016-11-18 23:53] RoRoche opened #253 "Error while running gradle task jgivenReport"
[Here is the Android project where I'm using JGiven](https://github.com/RoRoche/AndroidTestingBox).

I wrote [a simple test class with JGiven](https://github.com/RoRoche/AndroidTestingBox/blob/master/AndroidTestingBox/app/src/test/java/com/guddy/android_testing_box/JGivenSumTest.java).

When running the gradle task `gradle jgivenReport`, declared such as:

[code]

I get the following error:

[code

[2016-11-19 06:44] janschaefer commented on #253
Most likely the report generator read a non-JGiven JSON file. As you have not specified the `--sourceDir`, the report generator takes `.` as the source folder and searches recursively for json files.

[2016-11-19 08:00] RoRoche commented on #253
Absolutely right! Thanks a lot.

[2016-11-19 08:00] #253 closed

[2016-11-19 13:02] janschaefer commented on #253
I will update the documentation for gradle accordingly as in most cases you should specify the sourceDir. In addition JGiven could handle that error more gracefully.

[2016-11-20 22:54] wolfs commented on #253
@janschaefer You could also document the now existing Gradle plugin ;)

[2016-11-20 23:40] corneliusweig opened #254 "ScenarioState should be injected when stage is wrapped into spring proxy"
We are using a JGiven setup with Spring where the stages themselves are spring beans. However, as soon as the stage is wrapped into a spring proxy, the scenario state injection does no longer work.

See the attached test case for details. You can verify that both test cases should be working by disabling the logging aspect.

[testcase.tar.gz](https://github.com/TNG/JGiven/files/602419/testcase.tar

[2016-11-21 06:14] janschaefer commented on #253
Yes, definitely. I hope to publish that soon.

[2016-11-23 12:39] janschaefer opened #255 "Introduce mandatory Scenario State"
It would be useful to have an attribute `mandatory = true` in the `@ScenarioState` annotation. If this is set, JGiven will fail if no such `@ScenarioState` would have been provided.

Example:
[code]

[2016-11-24 05:31] nikowitt opened #256 "Access some global configuration"
Hi Jan,

I'd like to introduce some global flags (e.g. checking the last accessed stage or to determine whether exceptions are to be stored for further evaluation or if they are to be thrown directly) and to access these in my stages, but I don't want to use regular stage fields, but to e.g. access the scenario from my stage method and to then read global information. Is there a convenient way to

[2016-11-24 07:42] janschaefer commented on #256
Why not just using a @ScenarioState for that? :-D

[2016-11-24 07:51] janschaefer commented on #256
Ok, I just saw that you don't want to use Stage fields, but actually I see no reason why not to use them. You could introduce a new class `MyPersonalGlobalScenarioState`. You could have a common super class for all of your stage that has that field, so you can use it in all of your stages.

[2016-11-24 08:17] nikowitt commented on #256
You're right, just providing this shared config works fine. Thanks for the hint!

[2016-11-24 08:17] #256 closed

[2016-11-27 20:09] originx commented on #244
#258 [Experimental] Android support PR created

[2016-12-01 16:34] s-bortolussi opened #259 "Nested steps are not reported with jgiven-spring"
Hi

When running a [spring scenario test](https://github.com/TNG/JGiven/tree/master/examples/spring-boot/src/test/java/com/tngtech/jgiven/example/springboot) with  ```@NestedSteps``` , it seems that nested steps are not reported.

Did I miss something in my config ?

Thanks for your help

[2016-12-02 15:19] janschaefer commented on #259
You don't have to configure anything for that to work. Might be a bug. I will try to reproduce that.

[2016-12-04 10:31] janschaefer opened #260 "Enable building and testing of the Android modules on Travis-CI"
The Android modules are currently not built and executed on Travis-CI, by a switch in the `settings.gradle` file.

[2016-12-10 07:11] janschaefer commented on #259
I could reproduce the issue and it is harder to fix then expected.

[2016-12-12 07:51] s-bortolussi commented on #259
@janschaefer thanks for the update

[2016-12-13 08:29] #259 closed

[2016-12-17 19:58] janschaefer commented on #251
Closing the issue for now. If you have any further questions, just let me know.

[2016-12-17 19:58] #251 closed

[2016-12-17 21:37] janschaefer opened #263 "IntelliJ does not find relocated packages of shadow configuration"
When generating the IntelliJ configuration using `./gradlew idea` or when importing the JGiven project as a Gradle project, IntelliJ does not find the relocated packages from the shadow configuration.

Related Issue: https://github.com/johnrengelman/shadow/issues/264

[2016-12-17 21:42] janschaefer commented on #263
Open defect at IntelliJ: https://youtrack.jetbrains.com/issue/IDEA-163411

[2016-12-19 19:46] #263 closed

[2016-12-19 20:55] janschaefer commented on #254
I could fix your example by setting `proxyTargetClass=true` as follows:

     @EnableAspectJAutoProxy(proxyTargetClass=true)

[2016-12-19 21:15] janschaefer commented on #254
It seems that this is a general limitation of Spring and not related to JGiven in this case.

[2016-12-19 22:04] corneliusweig commented on #254
Well, so it seems that for Aspects setting `proxyTargetClass=true` does the trick.

However, as far as I know @Transactional is always implemented via CGlib proxies, unless there's an interface to implement. This means that new testcase for this situation in the updated test cases below will never work? At least, unless there is an interface for the stage?

[testcase.tar.gz](https://github.com/TNG

[2016-12-21 07:32] janschaefer commented on #254
No, I currently assume that this is a different problem. I will check that.

[2016-12-21 07:56] janschaefer commented on #254
With the current SNAPSHOT version of JGIven your example works as expected. However, there where some major Spring changes. Could you please test against version 0.14.0-SNAPSHOT? You have to add the sonatype snapshot repository to you Gradle/Maven configuration for that. E.g. for Gradle:

[code]

[2016-12-21 19:14] Airblader commented on #255
There's also `@ExpectedScenarioState` and `@ProvidedScenarioState`, though I'd argue that this feature makes no sense in the latter of these two.

[2016-12-23 16:40] codecholeric opened #266 "Add possibility to set up stages"
It would be great if it was possible, to mark a method in a way, that JGiven completely ignores any special handling and doesn't set the stage as active (and hence causes `@AfterStage`-Methods to be called. An use case would be sth. like

[code]

[2016-12-24 08:14] Airblader opened #268 "Add a guaranteed attribute to scenario states"
This is similar to #255, but instead of dealing with provided states, we should have a `guaranteed` attribute on `@ScenarioState` and `@ProvidedScenarioState` which will fail with a clear exception if the stage doesn't provide this state.

[2016-12-24 10:46] janschaefer opened #269 "document configuration options"
Document how to configure JGiven using the `JGivenConfiguration` annotation.

[2016-12-24 11:17] janschaefer opened #270 "add configuration option to specify the default resolution strategy"
By default JGiven resolves Stage fields by type, except for certain java packages that are resolved by name. This different resolution strategies might be confusing and it would be useful to be able to globally change the default resolution strategy to _name_ resolution.

[2016-12-24 11:21] janschaefer opened #271 "add option to configure JGiven by a simple properties file"
there should be a way to configure JGiven by just providing a single `jgiven.properties` file.

[2016-12-24 14:30] janschaefer opened #272 "document experimental Android support in User Guide"

[2016-12-24 16:01] #272 closed

[2016-12-25 13:00] janschaefer opened #273 "Would it be useful to have @BeforeStep and @AfterStep hooks?"
Currently it is not easily possible to do an action before every step or after every step. Would you think that it make sense to introduce such life-cycle hooks? One example use case would be to take a screenshot after every step, for example.
As an alternative we could also introduce a listener interface that is attached to the stage. Something like:

    @StepListener( MyStepListener.class )

[2016-12-25 13:14] janschaefer opened #274 "HTML Report: Show small preview images instead of an Attachment Icon for Image Attachments"
In case of images as attachments it would be nice to have an option of showing small preview images instead of showing the attachment icon. This should be configurable when generating the HTML report.

[2016-12-25 13:17] janschaefer opened #275 "HTML Report: Have the option to show an image attachment as a popup"
Currently when clicking to an attachment icon a new browser page is opened. It would be more convenient, in particular for images, if a popup would be shown that shows the image. It might be useful to have this configurable.

[2016-12-25 13:18] janschaefer commented on #254
You can now also test with v0.14.0-RC1

[2016-12-25 15:03] ahus1 opened #276 "Maven plugin doesn't create report with default settings"
In 0.12.1 when you used the maven plugin a HTML5 report was created by default when no format was given. With 0.13.0 when no format is given no report is created at all. No warning is given. The actual console output is given as shown below, but no report has actually been created.

[code]

I quick search for the origin of this changed behavior in 0.13.0 revealed no clue for me what commit changed

[2016-12-25 15:38] janschaefer commented on #276
I will have a look. I agree with the expected behavior :-)

[2016-12-25 16:05] ahus1 commented on #276
If you could have a second look for the commit that lead to the changed behavior, I'm happy to provide a fix via PR to update the maven plugin (if you have time to wait a few days)

[2016-12-25 16:28] janschaefer commented on #276
This is really mysterious. Actually the default value is 'html'. The only explanation I have is that v0.13.0 might have been built with a different Maven version and that the behavior of Maven has changed. I will check that.

[2016-12-25 17:15] #276 closed

[2016-12-25 17:16] janschaefer commented on #276
I don't know what exactly the problem was, but I guess it was the use of the deprecated `expression` in the Maven Plugin.

[2016-12-25 17:16] janschaefer commented on #276
I will publish a 0.13.1 version with the fix as soon as possible

[2016-12-25 18:47] janschaefer commented on #276
v0.13.1 is released, could you verify that it works for you now?

[2016-12-25 19:49] ahus1 commented on #276
v0.13.1 works as expected: no configuration produces a HTML5 report. Thanks!

[2016-12-25 22:05] #244 closed

[2016-12-26 13:12] janschaefer commented on #255
There is a problem with the new feature. When you have a scenario that is annotated with `@Pending` an exception is thrown when the field is not set. Expected behavior: the error should not be thrown.

[2016-12-26 13:19] Airblader commented on #255
I think this would be rather dificult to fix in a clean way. Feel free to revert for now.

[2016-12-26 16:21] dgrandemange opened #278 "A step annotated @Pending raises NoSuchMethodError exception at runtime"
When marking a step pending (`@Pending` annotation on stage method), a `NoSuchMethodError` exception is raised while executing the tests.
After removing the annotation, no exception is raised.

Components version :
- jgiven components (core, junit, html5-report, spring) version : 0.13.0,
- jgiven-core transitive dependency jansi version is  1.13

Full stackTrace :
`java.lang.NoSuchMethodError: org

[2016-12-26 17:24] janschaefer commented on #278
The only explanation I have for is that there is some other Jansi version somewhere in your classpath. Could you double check that?

[2016-12-26 17:28] janschaefer commented on #278
The method `fgBright` was introduced in version 1.9 of Jansi, so I guess you must have some older version in your classpath

[2016-12-26 18:19] janschaefer opened #279 "JUnit 5: Find a good way to represent @Nested in the HTML report"
JUnit 5 supports nested test classes with the `@Nested` annotation. For JGiven this raises the question of how to represent that in the HTML report. Any ideas are welcome!

[2016-12-26 18:48] janschaefer opened #280 "JUnit 5: How to support dynamic tests?"
It is unclear at the moment how dynamic tests should by supported by JGiven, as JUnit 5 provides no life-cycle hooks for them. Any suggestions are welcome!

[2016-12-26 19:09] dgrandemange commented on #278
Well, a maven dependency:tree only shows a jansi 1.13 in the dependencies tree.

Now, it seems you were right.
As i am actually trying to migrate an existing JBehave/Serenity project to JGiven, there were still JBehave/Serenity plugins sections remaining in my pom.xml.
Once removed, the jAnsi issue does not occur anymore.
Maybe one of the removed dep was an uber Jar embedding an older version of j

[2016-12-26 19:16] janschaefer commented on #278
Ok. Perfect. Thanks for verifying!

[2016-12-26 19:16] #278 closed

[2016-12-27 11:04] cirquit opened #281 "HTML Report: Back Button does not work after searching"

[2016-12-27 14:19] cirquit commented on #279
From [this](http://junit.org/junit5/docs/current/user-guide/#writing-tests-nested) example, I could think of a drop-down-on-click functionality. One would have to count the inner tests as normal scenarios, which will show up in the global summary.

The readability will probably close to zero after two nested tests, that's why I'd propose hiding per default.

[2016-12-27 14:44] cirquit opened #282 "@As and @CaseDescription annotation use different placeholder enumerations"
If I want to adress the first argument in the `@As ( "First argument: $1, Second Argument: $2" )`, it starts with the index 1. In **@CaseDescription** it starts with index 0.

I would propose to set the **@As** index to start from 0, because usually programmer will write these tests.

Need to add at least two examples for simple placeholder and enumerated ones to docs and jgiven-examples.

`@As (

[2016-12-27 15:53] Airblader commented on #282
This is unfortunate, but I'd prefer starting at 1. I expect a programmer to know both, but not somebody else. It also feels more natural.

[2016-12-27 16:00] janschaefer commented on #282
I have a crazy idea: what if we just support both? In nearly all cases it is unambiguous what the user actually meant. Examples:

* User uses $0 for any parameter -> $0 must be the first one
* Users uses $1 and there is only one parameter -> $1 must be the first one
* Users uses $1 and $2 and there are two parameters -> $1 must be the first one

The only case where it is ambiguous is when there ar

[2016-12-27 16:02] janschaefer commented on #282
Alternatively, we could introduce a configuration option for that.

[2016-12-27 16:03] Airblader commented on #282
That sounds like an unnecessarily complex mental model for my taste. As a user I expect the same variable to mean the same thing across tests. I shouldn't have to worry about changing behavior because I copy/paste a description and then remove $0, IMHO.

I don't think this is worth configuration either. We should choose one of the two options and stick with it. :-)

[2016-12-27 16:05] janschaefer commented on #282
Well I agree. In that case, we should stick with `$1` to be the first one. As the `@As` annotation is much more used than the `@CaseDescription` annotation.

[2016-12-27 16:06] janschaefer commented on #282
We could replace the `@CaseDescription` annotation with a new one and deprecate it, to have a consistent behavior in the long run.

[2016-12-27 16:08] Airblader commented on #282
Yeah, that sounds reasonable to me. We could also print a warning for using the deprecated annotation.

[2016-12-27 16:09] janschaefer commented on #282
Well, the IDE will print the warning already :-)

[2016-12-27 16:10] janschaefer commented on #282
A good argument for starting with 1 is that it is consistent with regular expression back references that also start at 1 :-)

[2016-12-27 16:11] Airblader commented on #282
Forgot about the IDE. Too little Java lately :-( You're right of course, that should suffice.

[2016-12-27 16:14] janschaefer commented on #279
I am not sure I understood what you mean by drop-down-on-click functionality. In any case, the current design of JGiven does not really allow for hierarchical contexts. Neither in the JSON model nor in the HTML report.

[2016-12-27 16:36] cirquit commented on #282
Ok, then I'm gonna use the index starting from 1 in the [issue 236](../issues/236) for ExtendedDescription and try to tackle this after that one.

[2016-12-28 00:37] corneliusweig commented on #254
All test-cases are now working with JGiven 0.14.0-SNAPSHOT including the one with @Transactional. Great work!

There's only a small flaw: whilst updating my test-cases, I upgraded to spring boot version 1.4.1.RELEASE (from 1.3.3.RELEASE) and two things popped up:

1. the annotation @SpringApplicationConfiguration is now deprecated from spring, but the recommended @SpringBootTest together with Spri

[2016-12-28 08:25] janschaefer commented on #254
Ok. Might be a new issue. I will check that. Thanks  for testing!

[2016-12-29 10:20] janschaefer commented on #254
I could not reproduce your issue. I have recreated your example configuration in the Spring-Boot example project (https://github.com/TNG/JGiven/tree/master/example-projects/spring-boot). But it works (no duplicate execution, no NPE). Could you provide a completely self-contained example, including the Gradle/Maven files?

[2016-12-29 10:28] janschaefer commented on #220
Fixed done #277

[2016-12-29 10:28] #220 closed

[2016-12-29 10:29] janschaefer commented on #282
I scheduled this issue for Milestone v0.15.0

[2016-12-29 10:35] janschaefer commented on #254
Ok. I can reproduce it with our example project. I will further investigate the issue.